<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Categories</h2>
          <md-button class="md-success md-raised" to="/buyxFoodCategories/0/">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <paginated-list ref="list" @load="load" :loading="loading" :data="paginated_categories">
              <template v-slot:header>
                <md-table-head md-numeric>ID</md-table-head>
                <md-table-head>Name</md-table-head>
                <md-table-head>Active</md-table-head>
                <md-table-head>Actions</md-table-head>
              </template>

              <template v-slot:item="{ row }">
                <md-table-cell>{{ row.id }}</md-table-cell>
                <md-table-cell>{{ row.name }}</md-table-cell>
                <md-table-cell>{{ row.active ? "Yes" : "No" }}</md-table-cell>
                <md-table-cell>
                  <div v-if="selectMode">
                    <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                      <md-icon>arrow_forward</md-icon>
                    </md-button>
                  </div>
                  <div v-else>
                    <md-button :to="'/buyxFoodCategories/' + row.id" class="md-icon-button md-primary">
                      <md-icon>edit</md-icon>
                    </md-button>
                    <md-button @click="deleteRow(row)" class="md-icon-button md-accent">
                      <md-icon>delete</md-icon>
                    </md-button>
                  </div>
                </md-table-cell>
              </template>
            </paginated-list>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import paginatedListVue from "@/components/paginatedList.vue";
import API, {
  Category,
  CategoryPaginationResponse,
  PaginationRequest,
} from "@/api";
@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class BuyxFoodCategoryList extends Vue {
@Prop({ default: false })
selectMode!: boolean;
loading = false;

 
  

  selectModeEmit(row: Category): void {
    this.$emit("selected", row);
  }
}
</script>

<style>
</style>
