<template>
  <div class="md-layout">
    
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <md-button to="/buyxFoodCategories">Back to List</md-button>
          <h2>Category Detail</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25">
              <md-field><label> Category Name</label>
                <md-input v-model="category.name"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field><label>Order</label>
                <md-input v-model.number="category.order"></md-input>
              </md-field>
            </div>
            

            <div class="md-layout-item md-size-25">
              <md-checkbox v-model="category.active">Active</md-checkbox>
            </div>
            
            <div class="md-layout-item md-size-50">
              <img :src="baseUrl+'/cdn/image/500x500'+category.imagePath" alt="">
            </div>
            <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
              <input type="file" id="actual-btn" hidden @change="uploadFiles" />
              <label>
                <md-icon>control_point</md-icon>
                Set Image
              </label>
            </label>
            <div  class="md-layout-item md-size-25">
              <img  alt="">
              <md-button class="deleteImage md-icon-button md-ultra-dense" @click="image._delete = true">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="save" class="md-primary md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>

    
  </div>
</template>


<script lang = "ts">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

import API, {  Category, FlatCategoryData, UploadedFile  } from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";
import BuyxFoodCategoryList from "./BuyxFoodCategoryList.vue";
@Component({
  components: { "parent-list": BuyxFoodCategoryList },
})
export default class BuyxFoodCategoryDetail extends Vue {
baseUrl = API.BaseUrl;
editor = ClassicEditor;
loading = false;
category: Category | undefined = { parentCategoryId: null };
cats: FlatCategoryData[] | undefined | null = [];
@Prop({ default: "0", type: String })
  id!: number;  


created(): void {
    this.load();
  }

  async load(): Promise<void> { 
if (this.id == 0) {
      this.category = {
        parentCategoryId: null,
      };
  }
  }}

  

</script>
<style >

</style>