<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Restaurants</h2>
          <md-button class="md-success md-raised" to="/restaurants/0">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-100">
              <md-table class="md-table">
                <md-table-row>
                  <md-table-head md-numeric>ID</md-table-head>
                  <md-table-head>Name</md-table-head>
                  <md-table-head>Short Description</md-table-head>
                  <md-table-head>Own Courriers</md-table-head>
                  <md-table-head>Buyx Courriers</md-table-head>
                  <md-table-head>Warehouse</md-table-head>
                  <md-table-head>Active</md-table-head>
                  <md-table-head>Actions</md-table-head>
                </md-table-row>

                <md-table-row v-for="row in restaurants" :key="row.id">
                  <md-table-cell>{{ row.id }}</md-table-cell>
                  <md-table-cell>{{ row.name }}</md-table-cell>
                  <md-table-cell v-html="row.shortDesc"></md-table-cell>
                  <md-table-cell>{{ row.hasOwnCourrier }}</md-table-cell>
                  <md-table-cell>{{ row.canUseBuyxDeliveryAgents }}</md-table-cell>
                  <md-table-cell>{{ row.warehouse.name }}</md-table-cell>

                  <md-table-cell>{{ row.active ? "Yes" : "No" }}</md-table-cell>
                  <md-table-cell>
                    <div v-if="selectMode">
                      <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                        <md-icon>arrow_forward</md-icon>
                      </md-button>
                    </div>
                    <div v-else>
                      <md-button :to="'/restaurants/' + row.id" class="md-icon-button md-primary">
                        <md-icon>edit</md-icon>
                      </md-button>
                      <!--<md-button @click="deleteRow(row)" class="md-icon-button md-accent">
                      <md-icon>delete</md-icon>
                    </md-button>-->
                    </div>
                  </md-table-cell>
                </md-table-row>
              </md-table>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, { Restaurant } from "@/api";
import Swal from "sweetalert2";
import { Vue, Component, Prop } from "vue-property-decorator";
import paginatedListVue from "@/components/paginatedList.vue";
@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class CategoryList extends Vue {
  @Prop({ default: false })
  selectMode!: boolean;

  loading = true;
  restaurants: Restaurant[] | null | undefined = [];

  async created(): Promise<void> {
    await this.load();
  }

  async load(): Promise<void> {
    this.loading = true;

    this.restaurants = (
      await API.CatalogApi.adminCatalogGetRestaurantsPost()
    ).data.data;

    if (this.restaurants) {
      this.$emit("restaurantsLoaded", this.restaurants);
    }
    this.loading = false;
  }
  /*
  async deleteRow(row: Resta): Promise<void> {
    this.loading = true;
    let res = await API.CatalogApi.adminCatalogDeletecategoryPost({
      categoryId: row.id,
    });
    if (res.data.success) {
      Swal.fire("Success", "Successfully Deleted!", "success");
    }

    // eslint-disable-next-line no-undef
    (this.$refs.list as VLoadable).load();
  }*/
  selectModeEmit(row: Restaurant): void {
    this.$emit("selected", row);
  }
}
</script>

<style>
</style>