<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <md-button to="/categories">Back to List</md-button>
          <h2>Category Detail</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25">
              <md-field><label> Category Name</label>
                <md-input v-model="category.name"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field><label>Order</label>
                <md-input v-model.number="category.order"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field>
                <label>Parent Category</label>
                <md-input disabled :value="getParentCategoryName"></md-input>
                <md-button class="md-icon-button md-primary md-dense" @click="$modal.show('parentCategoryModal')">
                  <md-icon>edit</md-icon>
                </md-button>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-checkbox v-model="category.active">Active</md-checkbox>
            </div>
            <div class="md-layout-item md-size-100">
              <h3>Short Description</h3>
              <ckeditor :editor="editor" v-model="category.shortDesc" />
            </div>
            <div class="md-layout-item md-size-100">
              <h3>Detailed Description</h3>
              <ckeditor :editor="editor" v-model="category.description" />
            </div>
            <div class="md-layout-item md-size-50">
              <img :src="baseUrl+'/cdn/image/500x500'+category.imagePath" alt="">
            </div>
            <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
              <input type="file" id="actual-btn" hidden @change="uploadFiles" />
              <label>
                <md-icon>control_point</md-icon>
                Set Image
              </label>
            </label>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="save" class="md-primary md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>

    <modal scrollable width="50%" height="auto" name="parentCategoryModal">
      <div>
        <h2>Select Parent Category</h2>
        <parent-list ref="catlist" @selected="parentSelected" @loaded="catsLoaded" :selectMode="true"></parent-list>
      </div>
    </modal>
  </div>
</template>

<script lang = "ts">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import API, { Category, FlatCategoryData, UploadedFile } from "@/api";
import Swal from "sweetalert2";
import { Component, Prop, Vue } from "vue-property-decorator";
import CategoryList from "./CategoryList.vue";
@Component({
  components: { "parent-list": CategoryList },
})
export default class CategoryDetail extends Vue {
  baseUrl = API.BaseUrl;
  editor = ClassicEditor;
  loading = true;
  category: Category | undefined = { parentCategoryId: null };
  cats: FlatCategoryData[] | undefined | null = [];

  @Prop({ default: "0", type: String })
  id!: number;

  created(): void {
    this.load();
  }

  async load(): Promise<void> {
    this.loading = true;
    this.cats = (
      await API.CatalogApi.adminCatalogGetCategoriesFlatPost({})
    ).data.data;
    if (this.id == 0) {
      this.category = {
        parentCategoryId: null,
      };
    } else {
      this.category = (
        await API.CatalogApi.adminCatalogGetCategoryDetailsPost({
          categoryId: this.id,
        })
      ).data.data;
    }
    this.loading = false;
  }
  async uploadFiles(event: Event): Promise<void> {
    if (event == null || event.target == null) {
      return;
    }
    let input = event.target as HTMLInputElement;
    if (input == null || input.files == null) {
      return;
    }

    let postdata = new FormData();

    for (const file of input.files) {
      postdata.append("files", file);
    }

    let res = (
      await API.AxiosInstance.post(API.BaseUrl + "/admin/file/Upload", postdata)
    ).data;
    console.log(res);
    if (res.success === true) {
      let files = res.data as UploadedFile[];
      for (const url of files) {
        if (this.category) {
          this.category.imagePath = url.url;
        }
      }
    }
    this.$forceUpdate();
  }
  catsLoaded(cats: FlatCategoryData[]): void {
    this.cats = cats;
  }

  async save(): Promise<void> {
    this.loading = true;

    let res = (
      await API.CatalogApi.adminCatalogSaveCategoryPost({
        category: this.category,
      })
    ).data;

    if (res.success == true) {
      Swal.fire("Success", "Saved Successfully!", "success");
      this.category = res.data;
      if (this.id == 0 && this.category && this.category.id != 0) {
        this.$router.replace("/categories/" + this.category.id);
      }
    }

    this.loading = false;
  }

  parentSelected(row: Category): void {
    if (this.category) {
      this.category.parentCategoryId = row.id;
      this.$modal.hide("parentCategoryModal");
    }
  }

  get getParentCategoryName(): string {
    if (this.cats && this.category && this.category.parentCategoryId) {
      let cat = this.cats.filter(
        (x): boolean => x.id == this.category?.parentCategoryId
      );
      if (cat.length > 0) {
        return cat[0].name ?? "Unknown Category";
      }
    }
    return "No Parent Category";
  }
}
</script>

<style>
</style>