<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Categories</h2>
          <md-button class="md-success md-raised" to="/categories/0">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <paginated-list ref="list" @load="load" :loading="loading" :data="paginated_categories">
              <template v-slot:header>
                <md-table-head md-numeric>ID</md-table-head>
                <md-table-head>Name</md-table-head>
                <md-table-head>Short Description</md-table-head>
                <md-table-head>Parent Category Id</md-table-head>
                <md-table-head>Active</md-table-head>
                <md-table-head>Actions</md-table-head>
              </template>

              <template v-slot:item="{ row }">
                <md-table-cell>{{ row.id }}</md-table-cell>
                <md-table-cell>{{ row.name }}</md-table-cell>
                <md-table-cell v-html="row.shortDesc"></md-table-cell>
                <md-table-cell>{{ row.parentCategoryId }}</md-table-cell>
                <md-table-cell>{{ row.active ? "Yes" : "No" }}</md-table-cell>
                <md-table-cell>
                  <div v-if="selectMode">
                    <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                      <md-icon>arrow_forward</md-icon>
                    </md-button>
                  </div>
                  <div v-else>
                    <md-button :to="'/categories/' + row.id" class="md-icon-button md-primary">
                      <md-icon>edit</md-icon>
                    </md-button>
                    <md-button @click="deleteRow(row)" class="md-icon-button md-accent">
                      <md-icon>delete</md-icon>
                    </md-button>
                  </div>
                </md-table-cell>
              </template>
            </paginated-list>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, {
  Category,
  CategoryPaginationResponse,
  PaginationRequest,
} from "@/api";
import Swal from "sweetalert2";
import { Vue, Component, Prop } from "vue-property-decorator";
import { VLoadable } from "@/loadable";
import paginatedListVue from "@/components/paginatedList.vue";
@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class CategoryList extends Vue {
  @Prop({ default: false })
  selectMode!: boolean;

  loading = true;
  paginated_categories: CategoryPaginationResponse | undefined = {};

  async load(pagination: PaginationRequest): Promise<void> {
    this.loading = true;

    this.paginated_categories = (
      await API.CatalogApi.adminCatalogGetCategoriesPost({
        pagination,
        filter: "",
      })
    ).data.data;

    if (this.paginated_categories) {
      this.$emit("catsLoaded", this.paginated_categories.data);
    }
    this.loading = false;
  }
  async deleteRow(row: Category): Promise<void> {
    this.loading = true;
    let res = await API.CatalogApi.adminCatalogDeletecategoryPost({
      categoryId: row.id,
    });
    if (res.data.success) {
      Swal.fire("Success", "Successfully Deleted!", "success");
    }

    // eslint-disable-next-line no-undef
    (this.$refs.list as VLoadable).load();
  }
  selectModeEmit(row: Category): void {
    this.$emit("selected", row);
  }
}
</script>

<style>
</style>