<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <md-button to="/buyxFoodProducts">Back to List</md-button>
          <h2>Product Detail</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <!-- ===================================== DETAILS ================================== -->
            <div class="md-layout-item md-size-25">
              <md-field><label>Name</label>
                <md-input v-model="product.name"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-field><label>Base Price</label>
                <md-input type="number" v-model.number="product.basePrice"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-checkbox v-model="product.active">Active</md-checkbox>
            </div>

            <div class="md-layout-item md-size-25">
              <md-checkbox v-model="product.cartSuggestion">Is this product cart suggestion?</md-checkbox>
            </div>

            <div class="md-layout-item md-size-50">
              <md-field>
                <label> Category </label>

                <md-select v-model="product.categoryId">
                  <md-option :value="cat.id" :key="cat.id" v-for="cat in categories">{{ cat.name }}</md-option>

                </md-select>
              </md-field>
            </div>
            <md-divider>
            </md-divider>
            <div class="md-layout-item md-size-50">
              <md-field>
                <label>Product Description</label>
                <md-input v-model="product.description" maxlength="100" md-counter="100"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100" style="margin-bottom:20px; margin-top:20px">
              <md-card class="md-elevation-2">
                <md-card-header>
                  <div class="md-title">Product Choices</div>
                </md-card-header>
                <md-card-content>
                  <div class="md-layout md-gutter">
                    <div v-for="option in product.productOptions" :key="option.name" class="md-layout-item md-size-100" style="margin-bottom:30px">
                      <md-card class="md-elevation-11">
                        <md-card-content>
                          <div class="md-layout">
                            <div class="md-layout-item md-size-50">
                              <md-field>
                                <label for="">Title</label>
                                <md-input v-model="option.name"></md-input>
                              </md-field>
                            </div>
                            <div class="md-layout-item md-size-50">
                              <md-checkbox v-model="option.required" style="margin-left:10%">Is this selection mandatory?</md-checkbox>
                            </div>
                            <div class="md-layout-item md-size-50">
                              <md-field>
                                <label for="">Subtitle</label>
                                <md-input v-model="option.subText"></md-input>
                              </md-field>
                            </div>
                            <div class="md-layout-item md-size-50">
                              <md-field>
                                <label for="">Type</label>
                                <md-select v-model="option.productOptionType">
                                  <md-option :value="2">Text</md-option>
                                  <md-option :value="3">One of many (Radio button)</md-option>
                                  <md-option :value="1">One of many (Select box)</md-option>
                                  <md-option :value="0">Check List</md-option>
                                </md-select>
                              </md-field>
                            </div>
                            <div v-if="option.productOptionType != 2" class="md-layout-item md-size-50">
                              <md-field>
                                <label for="">Minimum Selected</label>
                                <md-input type="number" v-model="option.minSelected" :min="0"></md-input>
                              </md-field>
                            </div>
                            <div v-if="option.productOptionType != 2" class="md-layout-item md-size-50">
                              <md-field>
                                <label for="">Maximum Selected</label>
                                <md-input type="number" v-model="option.maxSelected" :min="0"></md-input>
                              </md-field>
                            </div>
                            <div v-if="option.productOptionType != 2" class="md-layout-item md-size-100">
                              <h4>Options</h4>
                              <md-table>

                                <md-table-row>
                                  <md-table-head>Text</md-table-head>
                                  <md-table-head>Additional Price</md-table-head>
                                  <md-table-head>Actions</md-table-head>

                                  <md-button @click="addOptionValue(option)" class="
                                  md-success md-raised md-icon-button
                                  addNewTableItemButton
                                ">
                                    <md-icon> add </md-icon>
                                  </md-button>
                                </md-table-row>

                                <md-table-row v-for="optionValue in option.optionValues" :key="optionValue.name">
                                  <md-table-cell>
                                    <md-field>
                                      <md-input v-model="optionValue.name"></md-input>
                                    </md-field>
                                  </md-table-cell>
                                  <md-table-cell>
                                    <md-field>
                                      <md-input v-model.number="optionValue.alterPrice" type="number"></md-input>
                                    </md-field>
                                  </md-table-cell>
                                  <md-table-cell>
                                    <md-button class="md-icon-button md-accent" @click="deleteOptionValueFromOption(option,optionValue)">
                                      <md-icon>
                                        delete
                                      </md-icon>
                                    </md-button>
                                  </md-table-cell>
                                </md-table-row>

                              </md-table>

                            </div>
                          </div>
                        </md-card-content>
                        <md-card-actions>
                          <md-button @click="deleteOption(option)" class="md-raised md-accent">
                            <md-icon>delete</md-icon> <span>Delete</span>
                          </md-button>
                        </md-card-actions>
                      </md-card>
                    </div>
                  </div>
                </md-card-content>
                <md-card-actions>
                  <md-button @click="addNewOption" class="md-raised md-primary">
                    <md-icon>add</md-icon> <span>Add New Option</span>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>

            <!-- ===================================== IMAGES ================================== -->

            <div class="md-layout-item md-size-100">
              <h3>Images</h3>
            </div>

            <div v-for="image in product.images" v-show="!image._delete" :key="image.id" class="md-layout-item md-size-20">
              <img :src="baseUrl + '/cdn/image/150x150' + image.path" alt="" />
              <md-button class="deleteImage md-icon-button md-ultra-dense">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
            <div class="md-layout-item md-size-100">
              <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
                <input type="file" id="actual-btn" hidden multiple />
                <div class="md-layout-item md-size-25">
                  <md-icon>control_point</md-icon>
                  <span>Add new image</span>
                </div>
              </label>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-primary md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script lang = "ts">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import RAPI, {
  RestaurantCategory,
  RestaurantProduct,
  Warehouse,
} from "@/restaurant-api";
import Swal from "sweetalert2";
import { Component, Prop, Vue } from "vue-property-decorator";
import CategoryList from "../BuyxFoodCategory/BuyxFoodCategoryList.vue";
import { ProductOptionValue, RestaurantProductOption } from "@/api";

@Component({
  components: { "parent-list": CategoryList },
})
export default class ProductDetail extends Vue {
  editor = ClassicEditor;
  loading = true;
  baseUrl = RAPI.BaseUrl;
  product: RestaurantProduct | undefined = {
    productOptions: [],
  };

  @Prop()
  id!: number;
  categories: RestaurantCategory[] | null | undefined = [];

  created(): void {
    this.load();
  }

  deleteOptionValueFromOption(
    option: RestaurantProductOption,
    optionValue: ProductOptionValue
  ): void {
    if (option && optionValue && option.optionValues) {
      option.optionValues = option.optionValues.filter(
        (value) => value !== optionValue
      );

      this.$forceUpdate();
    }
  }

  deleteOption(option: RestaurantProductOption): void {
    if (option && this.product && this.product.productOptions) {
      this.product.productOptions = this.product?.productOptions.filter(
        (value) => value !== option
      );
      this.$forceUpdate();
    }
  }

  addNewOption(): void {
    if (this.product) {
      if (!this.product.productOptions) {
        this.product.productOptions = [];
      }

      this.product.productOptions.push({
        name: "",
        productOptionType: 0,
        minSelected: 0,
        maxSelected: 0,
        optionValues: [],
      });
      this.$forceUpdate();
    }
  }

  addOptionValue(option: RestaurantProductOption): void {
    if (option) {
      if (!option.optionValues) {
        option.optionValues = [];
      }

      option.optionValues.push({
        name: "",
        alterPrice: 0,
      });
      this.$forceUpdate();
    }
  }

  async load(): Promise<void> {
    this.loading = true;
    this.product = (
      await RAPI.CatalogApi.restaurantAdminCatalogGetProductDetailPost({
        id: this.id,
      })
    ).data.data;
    this.categories = (
      await RAPI.CatalogApi.restaurantAdminCatalogListCategoriesPost()
    ).data.data;
    this.loading = false;
  }
}
</script>
<style >
</style>