<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Products</h2>
          <md-button class="md-success md-raised" to="/buyxFoodProducts/0/">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <paginated-list ref="list" @load="load" :loading="loading" :data="products_paginated">
              <template v-slot:header>
                <md-table-head md-numeric>ID</md-table-head>
                <md-table-head>
                  Image
                </md-table-head>
                <md-table-head>Name</md-table-head>
                <md-table-head>Short Description</md-table-head>
                <md-table-head>Price</md-table-head>

                <md-table-head>Active</md-table-head>
                <md-table-head>Cart Suggestion</md-table-head>
                <md-table-head>Actions</md-table-head>
              </template>

              <template v-slot:item="{ row }">
                <md-table-cell md-numeric>{{ row.id }}</md-table-cell>

                <md-table-cell style="text-align:center"> <img :src="getImagePath(row)" v-if="getImagePath(row)" alt=""> </md-table-cell>
                <md-table-cell>{{ row.name }}</md-table-cell>
                <md-table-cell v-html="row.description"></md-table-cell>
                <md-table-cell>{{ row.basePrice }}</md-table-cell>

                <md-table-cell>{{ row.active ? "Yes" : "No" }}</md-table-cell>
                <md-table-cell>{{ row.cartSuggestion ? "Yes" : "No" }}</md-table-cell>
                <md-table-cell>
                  <div v-if="selectMode">
                    <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                      <md-icon>arrow_forward</md-icon>
                    </md-button>
                  </div>
                  <div v-else>
                    <md-button :to="'/products/' + row.id+'/'" class="md-icon-button md-primary">
                      <md-icon>edit</md-icon>
                    </md-button>
                    <md-button @click="deleteRow(row)" class="md-icon-button md-accent">
                      <md-icon>delete</md-icon>
                    </md-button>
                  </div>
                </md-table-cell>

              </template>
            </paginated-list>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import paginatedListVue from "@/components/paginatedList.vue";
import RAPI, {
  PaginationRequest,
  RestaurantProduct,
  RestaurantProductPaginationResponse,
} from "@/restaurant-api";

@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class BuyxFoodProductList extends Vue {
  @Prop({ default: false })
  selectMode!: boolean;
  loading = false;
  products_paginated: RestaurantProductPaginationResponse | undefined = {
    data: [],
  };

  async load(pagination: PaginationRequest): Promise<void> {
    this.products_paginated = (
      await RAPI.CatalogApi.restaurantAdminCatalogListProductsPost(pagination)
    ).data.data;
  }

  getImagePath(row: RestaurantProduct): string {
    if (row && row.imagePath) {
      return RAPI.BaseUrl + "/cdn/image/50x50" + row.imagePath ?? "";
    }
    return "";
  }

  selectModeEmit(row: RestaurantProduct): void {
    this.$emit("selected", row);
  }
}
</script>

<style>
</style>