<template>
  <div>
    <loading v-if="loading"></loading>
    <div > <!-- class="md-layout" v-if="order" -->
      <div class="md-layout-item md-size-100">
        <md-button to="/buyxFoodOrders">Back to List</md-button>
      </div>
      <div class="md-layout-item md-size-100">
        <md-card>
          <md-card-header>
            <h2>Order Summary</h2>

          </md-card-header>
          <md-card-content class="md-layout md-gutter">

            <div class="md-layout-item md-size-50">
              <table > <!-- class="fl-table" -->
                <tr>
                  <th>Order ID</th>
                  <td><!-- {{ order.id }} --></td>
                </tr>
                <tr>
                  <th>Customer</th>
                  <td><!-- {{ order.user.name + ' '+order.user.surname}} --></td>
                </tr>
                <tr>
                  <th>Order Total</th>
                  <td><!-- {{ order.total}} --></td>
                </tr>
                <tr>
                  <th>Payment Method</th>
                  <td><!-- {{ paymentTypeName()}} --></td>
                </tr>
                <tr>
                  <th>Order Status</th>
                  <td><!-- {{getOrderStateName(order.orderState) }} --></td>
                </tr>
              </table>
            </div>
            <div class="md-layout-item md-size-50">
              <table >  <!-- class="fl-table" -->
                <tr>
                  <th>Customer Phone</th>
                  <td><!-- {{order.user.phone}} --></td>
                </tr>
                <tr>
                  <th>Data Created</th>
                  <td><!-- {{order.createdAt | dateTime}} --></td>
                </tr>
                <tr>
                  <th>Date Packaged</th>
                  <td><!-- {{order.packagedAt | dateTime}} --></td>
                </tr>
                <tr>
                  <th>Date Shipped</th>
                  <td><!-- {{order.assignedToDeliveryAt | dateTime}} --></td>
                </tr>
                <tr>
                  <th>Date Delivered</th>
                  <td><!-- {{order.deliveredAt | dateTime}} --></td>
                </tr>
              </table>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div class="md-layout-item md-size-100" style="margin-top:20px">
        <md-card>
          <md-card-content>
              <div class="md-layout-item md-size-100">
                 <h2>Order State</h2>
                 
                  </div>
            <md-tabs md-sync-route> 
              <md-tab id="tab-details" md-label="Order Details" :to="'/buyxFoodOrders/'+this.id+'/' " exact >  
                <div class="md-layout">
                  
                  <div class="md-layout-item md-size-100">
                    <md-table>
                      <md-table-row>
                        <md-table-head>
                          Image
                        </md-table-head>
                        <md-table-head>
                          Name
                        </md-table-head>
                        <md-table-head>
                          Unit Price
                        </md-table-head>
                        <md-table-head>
                          Quantity
                        </md-table-head>
                        <md-table-head>
                          Total Price
                        </md-table-head>
                      </md-table-row>
                      <md-table-row >  <!-- v-for="line in order.lines" :key="line.id" -->
                        <md-table-cell > </md-table-cell> <!-- style="text-align:center"> <img :src="getImagePath(line.product)" v-if="getImagePath(line.product)" alt="" -->
                        <md-table-cell><!-- {{line.product.name}} --></md-table-cell>
                        <md-table-cell><!-- {{line.price | format}} --></md-table-cell>
                        <md-table-cell><!-- {{line.quantity | format}} --></md-table-cell>
                        <md-table-cell><!-- {{line.price * line.quantity | format}} --></md-table-cell>
                      </md-table-row>
                    </md-table>
                  </div>
                  <div class="md-layout-item md-size-100">
                    <table > <!-- class="fl-table" -->
                      <tr>
                        <th>Order Lines Total</th>
                        <td><!-- {{order.subTotal | format}} --></td>
                      </tr>
                      <tr>
                        <th>Tax Total</th>
                        <td><!-- {{order.tax | format}} --></td>
                      </tr>
                      <tr>
                        <th>Delivery Price</th>
                        <td><!-- {{order.deliveryFee | format}} --></td>
                      </tr>
                      <tr>
                        <th>Order Total</th>
                        <td><!-- {{order.total | format}} --></td>
                      </tr>
                    </table>
                  </div>
                </div>
                
              </md-tab>

              <md-tab id="tab-order-address" md-label="Order Address" :to="'/buyxFoodOrders/'+this.id+'/tab-order-address'"> 
                Order AddressLine1
              </md-tab>
              
            </md-tabs>
            
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template> 

<script lang="ts">
import API, {
  BetterOrderStateDescriptor,
  Order,
  Product,
  WarehouseUser,
} from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class BuyxFoodOrderDetails extends Vue {
  loading = false;

  @Prop({ default: "0" })
  id!: string;
  //orderStates = BetterOrderStateDescriptor.getValues();
  order: Order | null | undefined = null;

  newOrderState: number | null = null;

  
  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;
    /*this.order = (
      await API.OrderApi.adminOrderGetOrderDetailsPost({
        id: parseInt(this.id),
      })
    ).data.data;*/
    this.loading = false;
  }
/*
  paymentTypeName(): string {
    if (this.order) {
      switch (this.order?.paymentType) {
        case 0:
          return "Stripe";
        case 1:
          return "Cash On Delivery";
        default:
          "Unknown";
      }
    }
    return "Not Loaded";
  }
  getImagePath(row: Product): string {
    if (row && row.images) {
      let primary = row.images?.filter((x) => x.isPrimary);
      if (primary.length == 0) {
        if (row.images?.length > 0) {
          primary = row.images;
        } else {
          return "";
        }
      }
      return API.BaseUrl + "/cdn/image/50x50" + primary[0].path ?? "";
    }
    return "";
  }
  getOrderStateName(stateNumber: number): string {
    let f = this.orderStates.filter((x) => x.value == stateNumber);
    if (f.length == 0) {
      return "Unknown";
    }
    return f[0].name;
  }*/
}
</script>

<style lang="sass">
</style>