<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Restaurant Details</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-25">
              <md-field>
                <label for="">Name</label>
                <md-input v-model="restaurant.name"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field>
                <label for="">Delivery Price</label>
                <md-input v-model.number="restaurant.flatDeliveryPrice"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <h3>Pickup Address</h3>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Building No</label>
                <md-input v-model.number="restaurant.buildingNo"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Floor</label>
                <md-input v-model.number="restaurant.floor"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Flat</label>
                <md-input v-model.number="restaurant.flat"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Zip Code</label>
                <md-input v-model.number="restaurant.zipCode"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Directions</label>
                <md-input v-model.number="restaurant.directions"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <md-field>
                <label for="">Address Line 1</label>
                <md-input v-model.number="restaurant.addressLine1"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <div class="md-layout-item md-size-100">
                <h3>Restaurant Categories</h3>
              </div>
              <md-table>
                <md-table-row>
                  <md-table-head>Category Name</md-table-head>
                  <md-table-head>Active</md-table-head>
                  <md-table-head>Order</md-table-head>

                  <md-table-head>Actions</md-table-head>
                </md-table-row>
                <md-table-row v-for="row in objRestaurantCategories" :key="row.id">
                  <md-table-cell>
                    <md-field>
                      <label for="">
                        Category Name
                      </label>
                      <md-input v-model="row.name"></md-input>
                    </md-field>

                  </md-table-cell>

                  <md-table-cell>
                    <md-checkbox v-model="row.active">Active</md-checkbox>
                  </md-table-cell>

                  <md-table-cell>
                    <md-field>
                      <label for="">
                        Order
                      </label>
                      <md-input v-model.number="row.order"></md-input>

                    </md-field>

                  </md-table-cell>

                  <md-table-cell>
                    <md-button @click="row._delete = true" class="md-accent md-raised md-icon-button md-ultra-dense">
                      <md-icon>
                        delete
                      </md-icon>
                    </md-button>
                  </md-table-cell>
                </md-table-row>
              </md-table>
              <md-button @click="addNewCategory" class="md-success md-raised md-icon-button addNewTableItemButton">
                <md-icon>
                  add
                </md-icon>
              </md-button>
            </div>

            <div class="md-layout-item md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-size-100">
                  <h3>Work Zone</h3>
                </div>
                <div class="md-layout-item md-size-100">
                  <GmapMap v-if="!hideMap" style="height:600px" :zoom="11" :center="{lat:53.3233816909796, lng:-1.2352230565633293}" ref="mapRef">
                    <GmapMarker @position_changed="position_changed" v-if="!loading && restaurant.id!=0" :position="{lat:restaurant.latitude, lng:restaurant.longitude}" :clickable="true"
                      :draggable="true" @click="center=m.position" />

                    <GmapPolygon :options="polgonOptions" ref="polygonRef" @paths_changed="paths_changed " :deepWatch="true" v-if="!loading && restaurant.id!=0" :paths="currentPolygon"
                      :editable="true"></GmapPolygon>
                  </GmapMap>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="createBorders" class="md-success md-raised">
            Create basic borders
          </md-button>
          <md-button @click="save" class="md-success md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import Swal from "sweetalert2";
import { Component, Vue } from "vue-property-decorator";
import {} from "google.maps";
import RAPI, {
  FrontendPoint,
  Restaurant,
  RestaurantCategory,
  RestaurantType,
  Warehouse,
} from "@/restaurant-api";
@Component({
  components: {},
})
export default class RestaurantDetail extends Vue {
  loading = false;
  hideMap = false;
  polgonOptions = {
    strokeColor: "#ff5226",
    fillColor: "#ff5226",
    fillOpacity: 0.1,
  };

  restaurant: Restaurant | undefined = {
    id: 0,
    latitude: 53.3233816909796,
    longitude: -1.2352230565633293,
  };
  warehouses: Warehouse[] | null | undefined = [];
  restaurantTypes: RestaurantType[] | null | undefined;

  created(): void {
    this.load();
  }

  addNewCategory(): void {
    this.restaurant?.categories?.push({ restaurantId: this.restaurant.id });
  }

  addNewRestaurantType(): void {
    this.restaurant?.restaurantTypes?.push({
      restaurantId: this.restaurant.id,
    });
  }

  get objRestaurantTypes(): RestaurantType[] {
    return (this.restaurant?.restaurantTypes ?? []).filter((x) => !x._delete);
  }

  get objRestaurantCategories(): RestaurantCategory[] {
    return (this.restaurant?.categories ?? []).filter((x) => !x._delete);
  }

  async load(): Promise<void> {
    this.loading = true;

    let res = (await RAPI.InfoApi.restaurantAdminInfoGetRestaurantDetailsPost())
      .data.data;
    this.LoadFromRestaurantDetail(res);

    this.calculateCurrentPoly();
    this.afterMapLoad();
    this.loading = false;
  }

  private LoadFromRestaurantDetail(
    res:
      | import("c:/Users/alper/source/repos/buyxadminview/src/restaurant-api/api").RestaurantDetail
      | undefined
  ) {
    this.restaurant = res?.restaurant;
    this.warehouses = res?.warehouses;
    this.polygon = res?.polygonPoints;
    this.restaurantTypes = res?.restaurantTypes;
  }

  async save(): Promise<void> {
    this.loading = true;
    let res = (
      await RAPI.InfoApi.restaurantAdminInfoSaveRestaurantPost({
        restaurant: this.restaurant,
        setFrontentPoints: this.polygon,
        warehouseLocation: {
          latitude: this.restaurant?.latitude,
          longitude: this.restaurant?.longitude,
        },
      })
    ).data;
    if (res.success == true) {
      Swal.fire("Success", "Saved successfully", "success");

      this.LoadFromRestaurantDetail(res.data);
    }
    this.loading = false;
  }

  // eslint-disable-next-line no-undef
  currentPolygon: google.maps.LatLngLiteral[] = [];
  // eslint-disable-next-line no-undef
  otherPolygons: google.maps.LatLngLiteral[][] = [];

  calculateCurrentPoly(): void {
    if (this.other_polygons) {
      this.otherPolygons = [];
      for (const poly of this.other_polygons) {
        let array = poly.map(
          (p) =>
            // eslint-disable-next-line no-undef
            ({ lat: p.latitude, lng: p.longitude } as google.maps.LatLngLiteral)
        );
        this.otherPolygons.push(array);
      }
    }

    if (this.polygon != null) {
      this.currentPolygon = this.polygon.map(
        (p) =>
          // eslint-disable-next-line no-undef
          ({ lat: p.latitude, lng: p.longitude } as google.maps.LatLngLiteral)
      );
      return;
    }
    // eslint-disable-next-line no-undef
    this.currentPolygon = [] as google.maps.LatLngLiteral[];
    return;
  }

  polygon: FrontendPoint[] | null | undefined;
  other_polygons: FrontendPoint[][] | null | undefined = [];

  // eslint-disable-next-line no-undef
  position_changed(event: google.maps.LatLng): void {
    if (this.restaurant) {
      this.restaurant.latitude = event.lat();
      this.restaurant.longitude = event.lng();
    }
  }
  paths_changed(): void {
    // eslint-disable-next-line no-undef
    let latLngArray: google.maps.LatLng[] = (
      this.$refs.polygonRef as any
    ).$polygonObject
      .getPath()
      .getArray();

    this.polygon = [];

    for (const latLng of latLngArray) {
      this.polygon.push({ latitude: latLng.lat(), longitude: latLng.lng() });
    }
    this.calculateCurrentPoly();
  }

  async createBorders(): Promise<void> {
    if (
      this.restaurant &&
      this.restaurant.latitude &&
      this.restaurant.longitude
    ) {
      this.polygon = [
        {
          latitude: this.restaurant?.latitude - 0.01,
          longitude: this.restaurant?.longitude - 0.01,
        },
        {
          latitude: this.restaurant?.latitude - 0.01,
          longitude: this.restaurant?.longitude + 0.01,
        },
        {
          latitude: this.restaurant?.latitude + 0.01,
          longitude: this.restaurant?.longitude + 0.01,
        },

        {
          latitude: this.restaurant?.latitude + 0.01,
          longitude: this.restaurant?.longitude - 0.01,
        },
      ];
      this.calculateCurrentPoly();
      console.log("set current polygon", this.polygon);
      this.hideMap = true;
      this.$forceUpdate();
      await this.sleep(500);
      this.hideMap = false;
      this.$forceUpdate();
      await this.sleep(100);
      this.afterMapLoad();
    }
  }

  sleep(ms: number): Promise<void> {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  afterMapLoad(): void {
    if (this.restaurant?.id != 0) {
      (this.$refs.mapRef as any).$mapPromise.then((map: any) => {
        console.log("panto ", {
          lat: this.restaurant?.latitude,
          lng: this.restaurant?.longitude,
        });
        map.panTo({
          lat: this.restaurant?.latitude,
          lng: this.restaurant?.longitude,
        });
      });
    }
  }
}
</script>

<style lang="sass">
</style>