<template>
  <div>
    <loading v-if="loading"></loading>
    <div class="md-layout" v-if="order">
      <div class="md-layout-item md-size-100">
        <md-button to="/orders">Back to List</md-button>
      </div>
      <div class="md-layout-item md-size-100">
        <md-card>
          <md-card-header>
            <h2>Order Summary</h2>

          </md-card-header>
          <md-card-content class="md-layout md-gutter">

            <div class="md-layout-item md-size-50">
              <table class="fl-table">
                <tr>
                  <th>Order ID</th>
                  <td>{{ order.id }}</td>
                </tr>
                <tr>
                  <th>Customer</th>
                  <td>{{ order.user.name + ' '+order.user.surname}}</td>
                </tr>
                <tr>
                  <th>Order Total</th>
                  <td>{{ order.total}}</td>
                </tr>
                <tr>
                  <th>Payment Method</th>
                  <td>{{ paymentTypeName()}}</td>
                </tr>
                <tr>
                  <th>Order Status</th>
                  <td>{{getOrderStateName(order.orderState) }}</td>
                </tr>
              </table>
            </div>
            <div class="md-layout-item md-size-50">
              <table class="fl-table">
                <tr>
                  <th>Customer Phone</th>
                  <td>{{order.user.phone}}</td>
                </tr>
                <tr>
                  <th>Data Created</th>
                  <td>{{order.createdAt | dateTime}}</td>
                </tr>
                <tr>
                  <th>Date Packaged</th>
                  <td>{{order.packagedAt | dateTime}}</td>
                </tr>
                <tr>
                  <th>Date Shipped</th>
                  <td>{{order.assignedToDeliveryAt | dateTime}}</td>
                </tr>
                <tr>
                  <th>Date Delivered</th>
                  <td>{{order.deliveredAt | dateTime}}</td>
                </tr>
              </table>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div class="md-layout-item md-size-100" style="margin-top:20px">
        <md-card>
          <md-card-content>
            <md-tabs md-sync-route>
              <md-tab id="tab-details" md-label="Order Details" :to="'/orders/'+this.id+'/' " exact>
                <div class="md-layout">
                  <div class="md-layout-item md-size-50">
                    <md-card>
                      <md-card-header>
                        <h3>Assign to delivery</h3>

                      </md-card-header>
                      <md-card-content>
                        <md-field>
                          <label for="">Select Delivery Agent</label>
                          <md-select v-model="order.deliveryAgentId">
                            <md-option :value="0">Not Assigned</md-option>
                            <md-option v-for="agent in deliveryAgents" :key="agent.id" :value="agent.id">{{agent.user.name+' '+agent.user.surname}}</md-option>
                          </md-select>
                        </md-field>
                      </md-card-content>
                      <md-card-actions>
                        <md-button class="md-primary md-raised" @click="assignDeliveryAgent">
                          Assign
                        </md-button>
                      </md-card-actions>

                    </md-card>
                  </div>

                  <div class="md-layout-item md-size-50">
                    <md-card>
                      <md-card-header>
                        <h3>Assign to packaging</h3>
                      </md-card-header>
                      <md-card-content>
                        <md-field>
                          <label for="">Select Packaging Agent</label>
                          <md-select v-model="order.packagingAgentId">
                            <md-option :value="0">Not Assigned</md-option>
                            <md-option v-for="agent in packagingAgents" :key="agent.id" :value="agent.id">{{agent.user.name+' '+agent.user.surname}}</md-option>
                          </md-select>
                        </md-field>
                      </md-card-content>
                      <md-card-actions>
                        <md-button class="md-primary md-raised" @click="assignPackagingAgent">
                          Assign
                        </md-button>
                      </md-card-actions>

                    </md-card>
                  </div>

                  <div class="md-layout-item md-size-100">
                    <md-table>
                      <md-table-row>
                        <md-table-head>
                          Image
                        </md-table-head>
                        <md-table-head>
                          Name
                        </md-table-head>
                        <md-table-head>
                          Unit Price
                        </md-table-head>
                        <md-table-head>
                          Quantity
                        </md-table-head>
                        <md-table-head>
                          Total Price
                        </md-table-head>
                      </md-table-row>
                      <md-table-row v-for="line in order.lines" :key="line.id">
                        <md-table-cell style="text-align:center"> <img :src="getImagePath(line)" v-if="getImagePath(line)" alt=""> </md-table-cell>
                        <md-table-cell>{{line.productNameCache}}</md-table-cell>
                        <md-table-cell>{{line.price | format}}</md-table-cell>
                        <md-table-cell>{{line.quantity | format}}</md-table-cell>
                        <md-table-cell>{{line.price * line.quantity | format}}</md-table-cell>
                      </md-table-row>
                    </md-table>
                  </div>
                  <div class="md-layout-item md-size-100">
                    <table class="fl-table">
                      <tr>
                        <th>Order Lines Total</th>
                        <td>{{order.subTotal | format}}</td>
                      </tr>
                      <tr>
                        <th>Tax Total</th>
                        <td>{{order.tax | format}}</td>
                      </tr>
                      <tr>
                        <th>Delivery Price</th>
                        <td>{{order.deliveryFee | format}}</td>
                      </tr>
                      <tr>
                        <th>Order Total</th>
                        <td>{{order.total | format}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </md-tab>
              <md-tab id="tab-order-state" md-label="Order State History" :to="'/orders/'+this.id+'/tab-order-state'">
                <div class="md-layout">
                  <div class="md-layout-item md-size-100">
                    <md-table>
                      <md-table-row>
                        <md-table-head>
                          New State
                        </md-table-head>
                        <md-table-head>
                          Changed By
                        </md-table-head>
                        <md-table-head>
                          Changed At
                        </md-table-head>
                      </md-table-row>

                      <md-table-row v-for="history in order.orderStateHistory" :key="history.id">
                        <md-table-cell>{{getOrderStateName(history.orderState)}}</md-table-cell>
                        <md-table-cell v-if="history.issuer">{{history.issuer.name +" "+history.issuer.surname}}</md-table-cell>
                        <md-table-cell v-else>System</md-table-cell>
                        <md-table-cell>{{history.createdAt | dateTime}}</md-table-cell>
                      </md-table-row>
                    </md-table>
                  </div>
                  <div class="md-layout-item md-size-20">
                    <md-field>
                      <label>New Order State</label>
                      <md-select v-model="newOrderState">
                        <md-option v-for="state in orderStates" :key="state.value" :value="state.value">{{state.name}}</md-option>
                      </md-select>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-size-20">
                    <md-button class="md-primary md-raised" @click="addNewOrderState">
                      Add Order State
                    </md-button>
                  </div>
                </div>
              </md-tab>

              <md-tab id="tab-order-address" md-label="Order Address" :to="'/orders/'+this.id+'/tab-order-address'">
                Under construction
              </md-tab>
              <md-tab id="tab-order-payment" md-label="Payment Logs" :to="'/orders/'+this.id+'/tab-order-payment'">
                Under construction
              </md-tab>
              <md-tab id="tab-order-user" md-label="User Details" :to="'/orders/'+this.id+'/tab-order-user'">
                Under construction
              </md-tab>
            </md-tabs>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import API, {
  BetterOrderStateDescriptor,
  Order,
  OrderLine,
  Product,
  WarehouseUser,
} from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class OrderDetails extends Vue {
  loading = false;

  @Prop({ default: "0" })
  id!: string;
  orderStates = BetterOrderStateDescriptor.getValues();
  order: Order | null | undefined = null;

  newOrderState: number | null = null;

  async addNewOrderState(): Promise<void> {
    this.loading = true;
    this.order = (
      await API.OrderApi.adminOrderSetOrderStatePost({
        orderId: this.order?.id ?? 0,
        newOrderState: this.newOrderState ?? -1,
      })
    ).data.data;
    this.loading = false;
  }
  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;
    this.order = (
      await API.OrderApi.adminOrderGetOrderDetailsPost({
        id: parseInt(this.id),
      })
    ).data.data;
    this.loading = false;
  }

  async assignDeliveryAgent(): Promise<void> {
    this.loading = true;

    this.order = (
      await API.OrderApi.adminOrderSetDeliveryAgentPost({
        orderID: this.order?.id,
        warehouseUserId: this.order?.deliveryAgentId ?? null,
      })
    ).data.data;
    this.loading = false;
  }

  async assignPackagingAgent(): Promise<void> {
    this.loading = true;

    this.order = (
      await API.OrderApi.adminOrderSetPackagingAgentPost({
        orderID: this.order?.id,
        warehouseUserId: this.order?.packagingAgentId ?? null,
      })
    ).data.data;
    this.loading = false;
  }

  get deliveryAgents(): WarehouseUser[] | undefined {
    return this.order?.warehouse?.warehouseUsers?.filter(
      (x) => x.warehouseRole == 2
    );
  }

  get packagingAgents(): WarehouseUser[] | undefined {
    return this.order?.warehouse?.warehouseUsers?.filter(
      (x) => x.warehouseRole == 1
    );
  }

  paymentTypeName(): string {
    if (this.order) {
      switch (this.order?.paymentType) {
        case 0:
          return "Stripe";
        case 1:
          return "Cash On Delivery";
        default:
          "Unknown";
      }
    }
    return "Not Loaded";
  }
  getImagePath(line: OrderLine): string {
    if (line.productImageUrlCache) {
      return API.BaseUrl + "/cdn/image/50x50" + line.productImageUrlCache ?? "";
    } else {
      if (line.product) {
        let row = line.product;
        if (row && row.images) {
          let primary = row.images?.filter((x) => x.isPrimary);
          if (primary.length == 0) {
            if (row.images?.length > 0) {
              primary = row.images;
            } else {
              return "";
            }
          }
          return API.BaseUrl + "/cdn/image/50x50" + primary[0].path ?? "";
        }
      } else if (line.restaurantProduct) {
        return (
          API.BaseUrl + "/cdn/image/50x50" + line.restaurantProduct.imagePath ??
          ""
        );
      } else {
        return "";
      }
    }
    return "";
  }

  /*
  getImagePath(row: Product): string {
    if (row && row.images) {
      let primary = row.images?.filter((x) => x.isPrimary);
      if (primary.length == 0) {
        if (row.images?.length > 0) {
          primary = row.images;
        } else {
          return "";
        }
      }
      return API.BaseUrl + "/cdn/image/50x50" + primary[0].path ?? "";
    }
    return "";
  }*/
  getOrderStateName(stateNumber: number): string {
    let f = this.orderStates.filter((x) => x.value == stateNumber);
    if (f.length == 0) {
      return "Unknown";
    }
    return f[0].name;
  }
}
</script>

<style lang="sass">
</style>