<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Orders</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-75">
              <paginated-list ref="list" @load="load" :loading="loading" :data="orders">
                <template v-slot:header>
                  <md-table-head md-numeric>ID</md-table-head>
                  <md-table-head>Total</md-table-head>
                  <md-table-head>User</md-table-head>
                  <md-table-head>Warehouse</md-table-head>
                  <md-table-head>Packaging</md-table-head>
                  <md-table-head>Delivery</md-table-head>
                  <md-table-head>State</md-table-head>
                  <md-table-head>Actions</md-table-head>
                </template>

                <template v-slot:item="{ row }">
                  <md-table-cell>{{ row.id }}</md-table-cell>
                  <md-table-cell>{{ row.total }}</md-table-cell>
                  <md-table-cell>{{ row.user.name +' '+row.user.surname }}</md-table-cell>
                  <md-table-cell>{{ row.warehouse.name }}</md-table-cell>
                  <md-table-cell>{{ packagingAgentName(row) }}</md-table-cell>
                  <md-table-cell>{{ deliveryAgentName(row) }}</md-table-cell>

                  <md-table-cell>{{ getOrderStateName( row.orderState) }}</md-table-cell>
                  <md-table-cell>
                    <div v-if="selectMode">
                      <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                        <md-icon>arrow_forward</md-icon>
                      </md-button>
                    </div>
                    <div v-else>
                      <md-button :to="'/orders/' + row.id+'/'" class="md-icon-button md-primary">
                        <md-icon>edit</md-icon>
                      </md-button>
                      <md-button disabled @click="deleteRow(row)" class="md-icon-button md-accent">
                        <md-icon>delete</md-icon>
                      </md-button>
                    </div>
                  </md-table-cell>
                </template>
              </paginated-list>
            </div>
            <div class="md-layout-item md-size-25">
              <md-card>
                <md-card-header>
                  <h2>Filter</h2>
                </md-card-header>
                <md-card-content>
                  <md-field>
                    <label>Filter Text</label>
                    <md-input v-model="userNameFilter"></md-input>
                  </md-field>

                  <md-field>
                    <label>Warehouses</label>
                    <md-select v-model="selectedOrderWarehouses" multiple>
                      <md-option v-for="warehouse in warehouses" :key="warehouse.id" :value="warehouse.id">{{warehouse.name}}</md-option>

                    </md-select>
                  </md-field>

                  <md-field>
                    <label>Order Status</label>
                    <md-select v-model="selectedOrderStatuses" multiple>
                      <md-option v-for="state in orderStates" :key="state.value" :value="state.value">{{state.name}}</md-option>
                    </md-select>
                  </md-field>

                  <md-field>
                    <label>Delivery Agents</label>
                    <md-select v-model="selectedDeliveryAgents" multiple>
                      <md-option v-for="agent in deliveryAgents" :key="agent.id" :value="agent.id">{{agent.user.name +' '+agent.user.surname}}</md-option>
                    </md-select>
                  </md-field>

                  <md-field>
                    <label>Packaging Agents</label>
                    <md-select v-model="selectedPackagingAgents" multiple>
                      <md-option v-for="agent in packagingAgents" :key="agent.id" :value="agent.id">{{agent.user.name +' '+agent.user.surname}}</md-option>
                    </md-select>
                  </md-field>

                  <div class="md-layout">
                    <div class="md-layout-item md-size-50">
                      <md-field>
                        <label>Amount Min</label>
                        <md-input v-model.number="amountMin"></md-input>
                      </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                      <md-field>
                        <label>Amount Max</label>
                        <md-input v-model.number="amountMax"></md-input>
                      </md-field>
                    </div>
                  </div>

                  <md-button @click="filter" class="md-raised md-primary">Apply</md-button>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, {
  BetterOrderStateDescriptor,
  Order,
  OrderPaginationResponse,
  PaginationRequest,
  Warehouse,
  WarehouseUser,
} from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";
import paginatedListVue from "@/components/paginatedList.vue";
import { VLoadable } from "@/loadable";

@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class OrderList extends Vue {
  @Prop({ default: false })
  selectMode!: boolean;

  loading = false;

  orders: OrderPaginationResponse | undefined = { desc: true };
  packagingAgents: WarehouseUser[] | null | undefined = [];
  deliveryAgents: WarehouseUser[] | null | undefined = [];
  warehouses: Warehouse[] | null | undefined = [];

  orderStates = BetterOrderStateDescriptor.getValues();

  selectedOrderWarehouses: Array<number> = [];
  selectedDeliveryAgents: Array<number> = [];
  selectedPackagingAgents: Array<number> = [];
  selectedOrderStatuses: Array<number> = [];

  amountMin: number | "" = "";
  amountMax: number | "" = "";

  userNameFilter = "";

  getOrderStateName(number: number): string {
    let f = this.orderStates.filter((x) => x.value == number);
    if (f.length == 0) {
      return "Unknown";
    }
    return f[0].name;
  }

  packagingAgentName(order: Order): string {
    if (order.packagingAgent && order.packagingAgent.user) {
      return (
        order.packagingAgent.user.name + "" + order.packagingAgent.user.surname
      );
    }
    return "";
  }

  deliveryAgentName(order: Order): string {
    if (order.deliveryAgent && order.deliveryAgent.user) {
      return (
        order.deliveryAgent.user.name + "" + order.deliveryAgent.user.surname
      );
    }
    return "";
  }
  filter(): void {
    (this.$refs.list as VLoadable).load();
  }

  async load(pagination: PaginationRequest): Promise<void> {
    this.loading = true;
    let result = (
      await API.OrderApi.adminOrderGetOrderListPost({
        pagination: pagination,
        userNameFilter: this.userNameFilter,
        deliveryAgentIdFilter: this.selectedDeliveryAgents,
        packagingAgentIdFilter: this.selectedPackagingAgents,
        statusFilter: this.selectedOrderStatuses,
        totalMinFilter: this.amountMin == "" ? null : this.amountMin,
        totalMaxFilter: this.amountMax == "" ? null : this.amountMax,
        warehouseIdFilter: this.selectedOrderWarehouses,
      })
    ).data.data;

    this.deliveryAgents = result?.deliveryAgents;
    this.packagingAgents = result?.packagingAgents;
    this.warehouses = result?.warehouses;
    this.orders = result?.paginationResponse;

    this.loading = false;
  }

  selectModeEmit(row: Order): void {
    this.$emit("selected", row);
  }
}
</script>

<style lang="sass">
</style>