<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div :key="en.name" v-for="en in values" class="md-layout-item md-size-33">
      <md-checkbox :value="!hasFlag(en.value)" @change="changed(en.value,!hasFlag(en.value))">{{en.name}}</md-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { EnumDescriptor } from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class FlagEnumEditor extends Vue {
  loading = false;
  checked: number[] = [];

  @Prop({ default: 0 })
  value!: number;

  @Prop({
    default: () => {
      return [];
    },
    type: Array,
  })
  values!: EnumDescriptor;

  changed(set: number, isChecked: boolean): void {
    if (isChecked) {
      let valcache = this.value;
      valcache = valcache | set;
      this.$emit("input", valcache);
    } else {
      let valcache = this.value;
      valcache &= ~set;
      this.$emit("input", valcache);
    }
  }
  created(): void {
    for (const en of this.values) {
      if (this.hasFlag(en.value)) {
        this.checked.push(en.value);
      }
    }
  }
  hasFlag(val: number): boolean {
    return (val & this.value) == val;
  }
}
</script>

<style lang="sass">
</style>