<template>
  <div class="loading">
    <div class="loading_inner">
      <span class="spinner" v-if="selected == 0"></span>
      <div class="lds-ripple" v-if="selected == 1">
        <div></div>
        <div></div>
      </div>

      <div class="lds-roller" v-if="selected == 2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="lds-ellipsis" v-if="selected == 3">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script lang ="ts">
import { Prop, Vue } from "vue-property-decorator";

export default class InlineLoader extends Vue {
  @Prop({ default: -1, type: Number })
  loader!: number;

  selected = 0;
  getRndInteger(min: number, max: number): number {
    return Math.floor(Math.random() * (max - min)) + min;
  }
  created(): void {
    if (this.loader == -1) this.selected = this.getRndInteger(0, 4);
    else this.selected = this.loader;
  }
}
</script>

<style>
.loading {
  overflow: hidden;
}
</style>