<template>
  <ul class="pagination" v-if="pageCount > 1">
    <li v-for="page in getPagingElements()" :key="page.content">
      <a :class="page.content == currentPage ? 'active' : ''" style="cursor: pointer" @click="setPage(page.pageNumber)">{{
          Number.isInteger(page.content) ? page.content + 1 : page.content
        }}</a>
    </li>
  </ul>
</template>

<script>
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
/* eslint-disable @typescript-eslint/no-this-alias */

export default {
  template: "#pagenator_template",
  data: function () {
    return {};
  },
  watch: {
    pageCount: function () {
      this.$forceUpdate();
    },
    currentPage: function () {
      this.$forceUpdate();
    },
  },
  props: {
    pageCount: Number,
    currentPage: Number,
    pageMargin: {
      type: Number,
      default: 5,
    },
  },
  methods: {
    setPage(page) {
      this.$emit("set-page", page);
    },
    getPagingElements() {
      let self = this;
      let pagestoshow = [];
      let useCount = this.pageCount ? this.pageCount : 0;
      if (useCount > 10) {
        pagestoshow.push({
          click: true,
          content: "<<",
          pageNumber: 0,
        });
      }
      pagestoshow.push({
        click: true,
        content: "<",
        pageNumber: this.currentPage - 1,
      });

      for (let i = this.pageMargin * -1; i <= this.pageMargin; i++) {
        pagestoshow.push({
          click: i == 0 ? false : true,
          content: this.currentPage + i,
          pageNumber: this.currentPage + i,
        });
      }

      pagestoshow.push({
        click: true,
        content: ">",
        pageNumber: this.currentPage + 1,
      });

      if (useCount > 10) {
        pagestoshow.push({
          click: true,
          content: ">>",
          pageNumber: useCount - 1,
        });
      }

      let filtered = pagestoshow.filter(function (el) {
        return (
          el.pageNumber > -1 &&
          el.pageNumber < useCount &&
          (el.click == false ||
            (el.pageNumber != useCount &&
              !(el.pageNumber == 0 && self.currentPage == 0)))
        );
      });

      return filtered;
    },
  },
  computed: {
    pagingElems() {
      return this.getPagingElements();
    },
  },
};
</script>
<style>
.pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  padding: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 10px 0;
}
.pagination > li > a {
  z-index: 1;
  margin-left: 0;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination > li:first-child > a {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.pagination > li:last-child > a {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.pagination > li > a.active {
  color: #fff;
  z-index: 999;
  border-radius: 0.5em;
  background-color: #007bff;
  border-color: #007bff;
}
</style>
