<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-table>
        <md-table-row>
          <slot name="header"></slot>
        </md-table-row>

        <md-table-row v-for="item in data.data" :key="item.Id">
          <slot name="item" :row="item"></slot>
        </md-table-row>
      </md-table>
      <small> {{"Showing "+showing+". Total: "+totalItems+" items" }}</small>
      <numberedPaginator :pageCount="pageCount" :currentPage="pagination.Page" @set-page="setPage"></numberedPaginator>
    </div>
  </div>
</template>

<script>
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
/* eslint-disable @typescript-eslint/no-this-alias */
import numberedPaginator from "./numberedPaginator.vue";

export default {
  components: {
    numberedPaginator: numberedPaginator,
  },
  props: {
    loading: {
      default: true,
      type: Boolean,
    },
    data: {
      default: () => {
        return {};
      },
      type: Object,
    },
    pageSize: {
      type: Number,
      default: 50,
    },
  },
  computed: {
    pageCount() {
      if (this.data != null) {
        return this.data.totalPages;
      }

      return 0;
    },
    desc() {
      if (typeof this.data.desc != "undefined") {
        return this.data.desc;
      }
      return false;
    },
    totalItems() {
      if (this.data != null) {
        return this.data.totalItems;
      }
      return 0;
    },
    showing() {
      let from = this.pagination.Page * this.pagination.PageSize;
      let to = from + this.pagination.PageSize;
      if (to > this.totalItems) {
        to = this.totalItems;
      }
      return "( " + (from + 1) + " - " + to + " )";
    },
  },
  data() {
    return {
      pagination: {
        Page: 0,
        PageSize: 50,
        order: "id",
        desc: false,
      },
    };
  },
  created() {
    this.pagination.PageSize = this.pageSize;
    this.pagination.desc = this.desc;
    this.load();
  },
  methods: {
    async setPage(page) {
      this.pagination.Page = page;
      this.load();
    },
    async load() {
      this.$emit("load", this.pagination);
    },
  },
};
</script>

<style>
</style>