<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <md-button to="/products">Back to List</md-button>
          <h2>Product Detail</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <!-- ===================================== DETAILS ================================== -->
            <div class="md-layout-item md-size-25">
              <md-field><label>Name</label>
                <md-input v-model="product.name"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25">
              <md-field><label>Barcode</label>
                <md-input v-model="product.barcode"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-field><label>Cart Minimum Amount</label>
                <md-input v-model.number="product.minCartCount"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-field><label>Cart Maximum Amount</label>
                <md-input v-model.number="product.maxCartCount"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-25">
              <md-checkbox v-model="product.active">Active</md-checkbox>
            </div>

            <div class="md-layout-item md-size-25">
              <md-field><label>Price</label>
                <md-input type="number" v-model.number="product.price"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <h3>Short Description</h3>
              <ckeditor :editor="editor" v-model="product.shortDescription" />
            </div>
            <div class="md-layout-item md-size-100">
              <h3>Detailed Description</h3>
              <ckeditor :editor="editor" v-model="product.description" />
            </div>

            <!-- ===================================== CATEGORİES ================================== -->

            <div class="md-layout-item md-size-50">
              <div class="md-layout-item md-size-100">
                <h3>Categories</h3>
              </div>
              <md-table class="table table-bordered table-striped">
                <md-table-row>
                  <md-table-head>Category Name</md-table-head>
                  <md-table-head>Order</md-table-head>
                  <md-table-head>Actions</md-table-head>

                </md-table-row>
                <md-table-row v-for="pCategory in productCategories" :key="pCategory.id">
                  <md-table-cell>
                    <md-field>
                      <label for="">
                        Category
                      </label>
                      <md-select v-model="pCategory.categoryId">
                        <md-option v-for="cat in cats" :key="cat.id" :value="cat.id">
                          {{cat.name}}
                        </md-option>
                      </md-select>
                    </md-field>

                  </md-table-cell>
                  <md-table-cell>
                    <md-field><label>Order</label>
                      <md-input v-model="pCategory.order"></md-input>
                    </md-field>
                  </md-table-cell>
                  <md-table-cell>
                    <md-button @click="pCategory._delete = true" class="md-accent md-raised md-icon-button md-ultra-dense">
                      <md-icon>
                        delete
                      </md-icon>
                    </md-button>
                  </md-table-cell>

                </md-table-row>
              </md-table>
              <md-button @click="addNewCategory" class="md-success md-raised md-icon-button addNewTableItemButton">
                <md-icon>
                  add
                </md-icon>
              </md-button>
            </div>

            <!-- ======================================= STOCKS ==================================== -->

            <div class="md-layout-item md-size-50">
              <div class="md-layout-item md-size-100">
                <h3>Stocks</h3>
              </div>
              <md-table class="table table-bordered table-striped">
                <md-table-row>
                  <md-table-head>Warehouse Name</md-table-head>
                  <md-table-head>Quantity</md-table-head>
                  <md-table-head>Actions</md-table-head>

                </md-table-row>
                <md-table-row v-for="pStock in productStocks" :key="pStock.id">
                  <md-table-cell>
                    <md-field>
                      <label for="">
                        Warehouse
                      </label>
                      <md-select v-model="pStock.warehouseId">
                        <md-option v-for="warehouse in warehouses" :key="warehouse.id" :value="warehouse.id">
                          {{warehouse.name}}
                        </md-option>
                      </md-select>
                    </md-field>

                  </md-table-cell>
                  <md-table-cell>
                    <md-field><label>Quantity</label>
                      <md-input v-model.number="pStock.quantity"></md-input>
                    </md-field>
                  </md-table-cell>
                  <md-table-cell>
                    <md-button @click="pStock._delete = true" class="md-accent md-raised md-icon-button md-ultra-dense">
                      <md-icon>
                        delete
                      </md-icon>
                    </md-button>
                  </md-table-cell>

                </md-table-row>
              </md-table>
              <md-button @click="addNewStock" class="md-success md-raised md-icon-button addNewTableItemButton">
                <md-icon>
                  add
                </md-icon>
              </md-button>
            </div>

            <!-- ===================================== IMAGES ================================== -->

            <div class="md-layout-item md-size-100">
              <h3>Images</h3>
            </div>
            <div v-for="image in product.images" v-show="!image._delete" :key="image.id" class="md-layout-item md-size-20">
              <img :src="baseUrl+'/cdn/image/150x150'+image.path" alt="">
              <md-button class="deleteImage md-icon-button md-ultra-dense" @click="image._delete = true">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
            <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
              <input type="file" id="actual-btn" hidden @change="uploadFiles" multiple />
              <label>
                <md-icon>control_point</md-icon>
                Add new image
              </label>
            </label>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="save" class="md-primary md-raised">
            Save
          </md-button>
        </md-card-actions>
        
      </md-card>
    </div>

  </div>
</template>

<script lang = "ts">
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import API, {
  Category,
  FlatCategoryData,
  Product,
  ProductCategory,
  ProductWarehouseStock,
  UploadedFile,
  Warehouse,
} from "@/api";
import Swal from "sweetalert2";
import { Component, Prop, Vue } from "vue-property-decorator";
import CategoryList from "../Category/CategoryList.vue";

@Component({
  components: { "parent-list": CategoryList },
})
export default class ProductDetail extends Vue {
  editor = ClassicEditor;
  loading = true;
  baseUrl = API.BaseUrl;
  product: Product | undefined = {
    categories: [],
    images: [],
    stocks: [],
    minCartCount: 1,
  };
  cats: Category[] | undefined | null = [];

  @Prop({ default: "0", type: String })
  id!: number;
  warehouses: Warehouse[] | null | undefined;

  created(): void {
    this.load();
  }

  get productCategories(): ProductCategory[] | undefined | null {
    if (this.product) return this.product.categories?.filter((x) => !x._delete);
    return [];
  }

  get productStocks(): ProductWarehouseStock[] | undefined | null {
    if (this.product) return this.product.stocks?.filter((x) => !x._delete);
    return [];
  }
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  async uploadFiles(event: Event): Promise<void> {
    if (event == null || event.target == null) {
      return;
    }
    let input = event.target as HTMLInputElement;
    if (input == null || input.files == null) {
      return;
    }

    let postdata = new FormData();

    for (const file of input.files) {
      postdata.append("files", file);
    }

    let res = (
      await API.AxiosInstance.post(API.BaseUrl + "/admin/file/Upload", postdata)
    ).data;

    if (res.success === true) {
      let files = res.data as UploadedFile[];
      for (const url of files) {
        this.product?.images?.push({
          path: url.url,
          name: url.fileName,
          isPrimary: this.product.images.length == 0,
          productId: this.product.id,
        });
      }
    }
  }
  async load(): Promise<void> {
    this.loading = true;

    if (this.id != 0) {
      let res = (
        await API.CatalogApi.adminCatalogGetProductDetailsPost({
          productId: this.id,
        })
      ).data;
      if (res.success) {
        this.product = res.data?.product;
        this.warehouses = res.data?.warehouses;
        this.cats = res.data?.categories;
      }
    } else {
      this.cats = (
        await API.CatalogApi.adminCatalogGetCategoriesFlatPost()
      ).data.data;
      this.warehouses = (
        await API.CatalogApi.adminCatalogGetWarehousesPost()
      ).data.data;
    }
    this.loading = false;
  }

  catsLoaded(cats: FlatCategoryData[]): void {
    this.cats = cats;
  }

  addNewCategory(): void {
    this.product?.categories?.push({ productId: this.product.id, order: 0 });
  }

  addNewStock(): void {
    this.product?.stocks?.push({ productId: this.product.id });
  }

  async save(): Promise<void> {
    this.loading = true;

    let res = (
      await API.CatalogApi.adminCatalogSaveProductPost({
        product: this.product,
      })
    ).data;

    if (res.success == true) {
      Swal.fire("Success", "Saved Successfully!", "success");
      this.product = res.data?.product;
      if (this.id == 0 && this.product && this.product.id != 0) {
        this.$router.replace("/products/" + this.product.id + "/");
      }
    }

    this.loading = false;
  }
}
</script>

<style lang="scss">
h3 {
  margin-top: 60px;
}
</style>