<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Blog Entry Detail</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-33">
              <md-field>
                <label for="">Title</label>
                <md-input v-model="blog.title"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label for="">Order</label>
                <md-input v-model="blog.order"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label for="">Order</label>
                <md-select v-model="blog.blogType">
                  <md-option :value="1">Campaign</md-option>
                  <md-option :value="2">Announcement</md-option>
                </md-select>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <md-field>
                <label for="">Short Description</label>
                <md-textarea v-model="blog.shortDescription">
                </md-textarea>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <h3>Detailed Description</h3>
              <ckeditor :editor="editor" v-model="blog.description" />
            </div>
            <div class="md-layout-item md-size-50">
              <img :src="baseUrl+'/cdn/image/500x500'+blog.leadingImage" alt="">
            </div>
            <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
              <input type="file" id="actual-btn" hidden @change="uploadFiles" multiple />
              <label>
                <md-icon>control_point</md-icon>
                Set Image
              </label>
            </label>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="save" class="md-success md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, { BlogEntry, UploadedFile } from "@/api";
import { Component, Prop, Vue } from "vue-property-decorator";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import Swal from "sweetalert2";

@Component({})
export default class BlogEntryDetail extends Vue {
  editor = ClassicEditor;
  baseUrl = API.BaseUrl;
  loading = false;
  @Prop({ default: "0", type: String })
  id!: number;
  blog: BlogEntry | undefined = { leadingImage: "", id: 0 };
  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;
    if (this.id != 0) {
      this.blog = (
        await API.LayoutApi.adminCatalogGetBlogEntryDetailsPost({
          id: this.id,
        })
      ).data.data;
    } else {
      this.blog = {
        blogType: 1,
        order: 0,
      };
    }
    this.loading = false;
  }

  async uploadFiles(event: Event): Promise<void> {
    if (event == null || event.target == null) {
      return;
    }
    let input = event.target as HTMLInputElement;
    if (input == null || input.files == null) {
      return;
    }

    let postdata = new FormData();

    for (const file of input.files) {
      postdata.append("files", file);
    }

    let res = (
      await API.AxiosInstance.post(API.BaseUrl + "/admin/file/Upload", postdata)
    ).data;
    console.log(res);
    if (res.success === true) {
      let files = res.data as UploadedFile[];
      for (const url of files) {
        if (this.blog) {
          this.blog.leadingImage = url.url;
        }
      }
    }
    this.$forceUpdate();
    console.log(this.blog);
  }

  async save(): Promise<void> {
    this.loading = true;

    let res = (await API.LayoutApi.adminCatalogSaveBlogEntryPost(this.blog))
      .data;

    if (res.success == true) {
      Swal.fire("Success", "Saved Successfully!", "success");
      this.blog = res.data;
      if (this.id == 0 && this.blog && this.blog.id != 0) {
        this.$router.replace("/blog/" + this.blog.id + "/");
      }
    }

    this.loading = false;
  }
}
</script>

<style lang="sass">
</style>