<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Blog Entries</h2>
          <md-button class="md-success md-raised" to="/blog/0/">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-100">
              <md-table>
                <md-table-row>
                  <md-table-head md-numeric>ID</md-table-head>
                  <md-table-head>Title</md-table-head>
                  <md-table-head>Short Desc</md-table-head>
                  <md-table-head>Actions</md-table-head>
                </md-table-row>
                <md-table-row :key="entry.id" v-for="entry in entries">
                  <md-table-cell>
                    {{entry.id}}
                  </md-table-cell>
                  <md-table-cell>
                    {{entry.title}}
                  </md-table-cell>
                  <md-table-cell v-html="entry.shortDescription">
                  </md-table-cell>

                  <md-table-cell>
                    <md-button :to="'/blog/'+entry.id+'/'" class="md-primary md-raised md-icon-button">
                      <md-icon>
                        edit
                      </md-icon>
                    </md-button>
                  </md-table-cell>
                </md-table-row>
              </md-table>
            </div>

          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, { BlogEntry } from "@/api";
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class BlogEntryList extends Vue {
  loading = false;
  entries: BlogEntry[] | null | undefined = [];

  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;
    this.entries = (
      await API.LayoutApi.adminCatalogGetBlogEntriesPost()
    ).data.data;
    this.loading = false;
  }
}
</script>

<style lang="sass">
</style>