@import "~vue-wysiwyg/dist/vueWysiwyg.css";

.page-fade-enter-active,
.page-fade-leave-active {
    transition: opacity 0.2s;
}

.newSelect {
    background: transparent;
    border: 1px solid #e6e6e6;
    padding-left: 5px;
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    display: flex;
    position: relative;
    font-family: inherit;
    pointer-events: auto;
    top: 0;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
    transition: .4s cubic-bezier(.25, .8, .25, 1);
    transition-duration: .3s;
    border-bottom: 1px solid black !important;
    color: rgba(0, 0, 0, 0.87)
}



.dynamic_box {
    * {
        text-transform: uppercase !important;
    }

    i {
        text-transform: lowercase !important;
    }

    background:white;
    border:.5px solid gray;
    margin-left:5px !important;
    margin-right:5px !important;
    margin-top:5px !important;
    margin-bottom: 20px !important;
    padding:15px;
    border-radius:4px;
    -webkit-box-shadow: 10px 10px 11px 1px rgba(189, 189, 189, 0.82);
    -moz-box-shadow: 10px 10px 11px 1px rgba(189, 189, 189, 0.82);
    box-shadow: 10px 10px 11px 1px rgba(189, 189, 189, 0.82);

    .dynamic_box {
        background: #f6f6f9;
    }
}

.md-field.dense {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .md-app-content .md-card {
        margin-left: 0;
        margin-right: 0;
    }

    .md-app-content>.md-card>.md-card-content {
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
    }

    .md-app-content {
        padding: 0;
    }

    main.md-app-container {
        overflow: hidden;
    }

    .md-table-content {
        .md-table-cell {
            font-size: 10px;
            line-height: 10px;
            height: 40px;
        }

        .md-table-cell-container {
            padding: 0px 0px 0px 12px;
        }

        tbody .md-table-row td {
            border: none;
        }

        .md-table-cell.md-numeric {
            text-align: left;
        }
    }
}

.page-fade-enter,
.page-fade-leave-to {
    opacity: 0;
}

.page-fade-leave-active {
    position: absolute;
}

.badge {
    padding: 6px 10px;
    font-size: 85%;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.badge-block {
    display: block;
    text-align: center;
}

.badge-pill {
    padding: 3px 6px;
}

.badge-primary {
    color: #ffffff;
    background-color: #009da0;
}

.badge-info {
    background-color: #1cbcd8;
}

.badge-secondary {
    color: #ffffff;
    background-color: #868e96;
}

.badge-success {
    color: #ffffff;
    background-color: #0cc27e;
}

.badge-warning {
    color: #212529;
    background-color: #ff8d60;
}

.badge-danger {
    color: #ffffff;
    background-color: #ff586b;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-dark {
    color: #ffffff;
    background-color: #343a40;
}



.background-overlay-sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.95;
}

.background-overlay-sidebar-reverse {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000428, #004e92);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000428, #004e92);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.95;
}

ul.md-theme-default.md-list.menu_list {
    background: #ffffff1c;
    color: white;
}

ul.md-theme-default.md-list.menu_list li {
    color: white;
}

.md-table-content {
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td {
        margin: 0;
        padding: 0;
    }

    table tr:first-child {
        background: #616161;
    }

    table th {
        color: white;
    }

    .padding_top_zero>div.md-table-cell-container {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

ul.md-theme-default.md-list.menu_list a.router-link-exact-active {
    color: white;
    background: #0000003c;
}

ul.md-theme-default.md-list.menu_list li a {
    color: white;
}

ul.md-theme-default.md-list.menu_list li i {
    color: white;
}



.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    padding: 8px;
    text-align: left;
    border-right: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;

}

.fl-table td {
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #e3e3e3;
}



.fl-table tr:first-child {
    border-top: 1px solid #a4a4a4;
}

.fl-table td:first-child {
    border-left: 1px solid #a4a4a4;
}

.fl-table th:first-child {
    border-left: 1px solid #a4a4a4;
}



/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
    }

    .fl-table tr {
        display: table-cell;
    }

    .fl-table tr:nth-child(odd) {
        background: none;
    }



    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #a4a4a4;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
    }
}

.table-builder {
    tr {
        td {
            height: unset;
            padding: 0;
            border-right: 1px solid gray;
        }
    }
}

div.md-table.md-theme-default tr:first-child.md-table-row {
    background: #616161;
}

div.md-table.md-theme-default th.md-table-head {
    color: white;
}

.divide_bottom {
    border-bottom: 2px solid black;
}

.padding_top_zero>div.md-table-cell-container {
    padding-top: 0px;
    padding-bottom: 15px;
}

.md-list.md-theme-default .sub-menu>.md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
    background: none;
}

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default",
    (primary: md-get-palette-color(blue, A200),
        // The primary color of your application
        accent: md-get-palette-color(red, A200) // The accent or secondary color
    ));

@import "~vue-material/dist/theme/all";

.md-button.md-theme-default.md-raised:not([disabled]).md-success {
    .md-icon {
        color: white;
    }

    color: #fff !important;
    background-color: #00924e;
}

.md-menu-content-container .md-list {
    background: darkslategrey;
}

.md-menu-content {
    max-width: 35vw;
}

a:not(.md-button) {
    color: #39578a !important;
}

a:not(.md-button) {
    color: #39578a !important;
}

a:not(.md-button)[href^="mailto:"]::before {
    font-family: "Segoe UI Symbol";
    content: " \1F4E7 ";
}

.md-dialog.left-dialog {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    min-width: 280px;
    max-width: 85%;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    border-radius: 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
    transform: none;
    transform-origin: center center;
    transition: opacity 0.15s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: opacity, transform, left, top;
}

.table-builder-delete-button-cell {
    height: 32px;
    border-bottom: 1px solid gray;
    text-align: center;

}

.md-list .md-list-item {
    color: white;
}

.md-list.md-theme-default .md-selected .md-list-item-content {
    background: white;
    border-bottom: 2px solid orange;
}

.md-list.md-theme-default .md-list-item-container {
    color: black;
}

.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not(.md-list-item-expand):not([disabled]):hover {
    color: #b06d13;
    background: rgba(0, 0, 0, .2)
}


.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
    color: #b06d13;
    background: rgba(0, 0, 0, .2)
}

.in-page-list {
    width: 100%;
    max-width: 100%;
    height: 400px;
    display: inline-block;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .12);
    vertical-align: top;

    .md-list-item-content {
        color: rgba(0, 0, 0, .87);
        border-bottom: 1px solid rgba(0, 0, 0, .12)
    }


    .md-double-line .md-list-item-text :nth-child(2),
    .md-triple-line .md-list-item-text :nth-child(3) {
        color: rgba(0, 0, 0, .54);
    }
}


.popupfull {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #343434c2;
    left: 0px;
    z-index: 999;
}

.closepopup {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    padding: 8px;
    background: darkred;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.popupfull>div {
    width: 90%;
    //height: 80%;
    overflow: scroll;
    position: fixed;
    left: 5%;
    top: 12%;
    z-index: 999;
}

.multi-action {
    /* border: 1px solid gray; */
    border-radius: 5px;
    background: #7373ff;
    color: white;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    box-shadow: black 3px 3px 6px -3px;
    cursor: pointer;
    margin: 5px;
}







.loading {
    left: 0;
    top: 0;
    position: absolute;
    background: #2222228f;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loading_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
}



.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin .5s infinite linear;
    border-radius: 100%;
    border-style: solid;

}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

.md-layout-item {
    position: relative;
}

.active-list-item {
    background: #007acc38;
}

@media only screen and (min-width: 1000px) {
    .md-app.md-fixed .md-app-scroller {
        overflow-x: hidden;
    }

}



.lds-ripple {
    transform: translate(-50%, -50%);
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 56px;
        left: 56px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 116px;
        height: 116px;
        opacity: 0;
    }
}




.lds-roller {
    transform: translate(-50%, -50%);
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





.lds-ellipsis {
    transform: translate(-50%, -50%);
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}



.saveAction {
    position: fixed;
    bottom: 10px;
    right: 40px;

    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2),
        0 10px 14px 1px rgba(0, 0, 0, .14),
        0 4px 18px 3px rgba(0, 0, 0, .12) !important;
    width: 150px;
    height: 100px;
    opacity: .5;
    border-radius: 15px;
    background: #7373ff;

    .md-ripple {
        background: #7373ff;
        border-radius: 15px;

    }
}

.saveAction:hover {
    opacity: 1;
}




.card1 {
    background: #800080;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,
            #ffc0cb,
            #800080);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,
            #ffc0cb,
            #800080);
    color: white;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card2 {
    background: #00f260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #0575e6,
            #00f260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #0575e6,
            #00f260);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card3 {
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #f7b733,
            #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #f7b733,
            #fc4a1a);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card4 {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #667db6,
            #0082c8,
            #0082c8,
            #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #667db6,
            #0082c8,
            #0082c8,
            #667db6);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card5 {
    background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #f05053,
            #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #f05053,
            #e1eec3);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card6 {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #fdbb2d,
            #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #fdbb2d,
            #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card7 {
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #ff5e62,
            #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #ff5e62,
            #ff9966);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card8 {
    background: #0cebeb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #29ffc6,
            #20e3b2,
            #0cebeb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #29ffc6,
            #20e3b2,
            #0cebeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card9 {
    background: #36d1dc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,
            #5b86e5,
            #36d1dc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,
            #5b86e5,
            #36d1dc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card10 {
    background: #c0392b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,
            #8e44ad,
            #c0392b);
    color: white;

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,
            #8e44ad,
            #c0392b);
    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card11 {
    background: linear-gradient(45deg, #007ACC, #0000775c);
    color: white;
}



.md-menu-content {
    z-index: 99 !important;
}

.match4 {
    background: rgb(36, 58, 0);
}

.match3 {
    background: green;
}

.match2 {
    background: #ffcc00;
}

.match1 {
    background: #ff6200;
}

.match0 {
    background: red;
}

.hasMatches {
    position: absolute;
    right: 0;
    top: 0;
}



.vm--modal {
    overflow-y: auto;
}


.md-ultra-dense {
    font-size: 13px;
}

.md-icon-button.md-ultra-dense {
    width: 24px;
    min-width: 24px;
    height: 24px;

    .md-icon {
        font-size: 18px !important;
    }
}



.deleteImage {
    position: absolute;
    left: 10px;
    top: 3px;

    .md-icon {
        color: red !important;
    }

    cursor: pointer;
    text-shadow: 1px 1px 10px black;
}

.addNewImageButton {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 100px;
}

.addNewTableItemButton {
    position: absolute;
    right: 15px;
    top: 55px;
}