<template>
  <div>
    <div class="md-layout-item md-size-100">
      <md-button to="/users">Back to List</md-button>
    </div>
    <md-tabs md-sync-route>
      <md-tab id="tab-details" md-label="Details" :to="'/users/'+this.id+'/' " exact>
        <div class="md-layout">
          <loading v-if="loading"></loading>
          <div class="md-layout-item md-size-50">
            <md-card>
              <md-card-header>
                <h2>User Details</h2>
              </md-card-header>
              <md-card-content>
                <md-field>
                  <label>Name</label>
                  <md-input v-model="user.name"></md-input>
                </md-field>
                <md-field>
                  <label>Surname</label>
                  <md-input v-model="user.surname"></md-input>
                </md-field>
                <md-field>
                  <label>Email</label>
                  <md-input v-model="user.email"></md-input>
                </md-field>
                <md-field>
                  <label>Phone</label>
                  <md-input v-model="user.phone"></md-input>
                </md-field>
                <md-checkbox v-model="user.canPlaceNonProvisionedPaymentMethods">Can Use Non-Provisioned Payment Methods</md-checkbox>
                <br>
                <md-checkbox v-model="user.marketingEmails">Marketing Emails</md-checkbox>
                <md-checkbox v-model="user.marketingSMS">Marketing SMS</md-checkbox>
                <md-checkbox v-model="user.marketingCalls">Marketing Calls</md-checkbox>

              </md-card-content>
              <md-card-actions>
                <md-button class="md-raised" @click="changePassword">Change Password</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div class="md-layout-item md-size-50">
            <md-card>
              <md-card-header>
                <h2>Addresses</h2>
              </md-card-header>
              <md-card-content>
                <div :key="address.id" v-for="address in user.addresses" class="address">
                  <div>

                    <h3 style="display:inline">{{address.addressName}} </h3><small v-if="address.isDefault">active</small>
                    <md-button class="md-icon-button md-ultra-dense" @click="editAddress(address)">
                      <md-icon>edit</md-icon>
                    </md-button>
                  </div>
                  <p>
                    {{address.addressLine1}} - NO: {{address.buildingNo ? address.buildingNo: 'N/a'}} Floor: {{address.floor ? address.floor : 'N/a'}} Flat: {{address.flat? address.flat : 'N/a' }}
                  </p>
                  <p v-if="address.directions">{{address.directions}} </p>
                  <p>{{address.neighbourhoodNameCache}} / {{address.districtNameCache}} / {{address.cityNameCache}} </p>
                  <small>ZIP: {{address.zipCode}}</small>

                </div>
              </md-card-content>
            </md-card>

          </div>
        </div>
      </md-tab>
      <md-tab id="tab-orders" md-label="Orders" :to="'/users/'+this.id+'/orders'">
        <div class="md-layout-item md-size-100">
          <md-card>
            <md-card-header>
              <h2>User Orders</h2>
            </md-card-header>
            <md-card-content>
              <div class="md-layout-item md-size-100">
                <md-table class="table">
                  <md-table-row>
                    <md-table-head>Id</md-table-head>
                    <md-table-head>Total</md-table-head>
                    <md-table-head>Detail</md-table-head>
                  </md-table-row>

                  <md-table-row>

                  </md-table-row>
                </md-table>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </md-tab>
      <md-tab id="tab-favorites" md-label="Favorites" :to="'/users/'+this.id+'/favorites'"></md-tab>
      <md-tab id="tab-warehouse" md-label="Warehouse" :to="'/users/'+this.id+'/warehouse'">
        <md-card>
          <md-card-content>
            <div v-if="user.warehouseUser">
              <h2>This user has warehouse account.</h2>
              <md-button class="md-raised md-accent" v-if="!user.warehouseUser._delete" @click="user.warehouseUser._delete = true">Remove Warehouse Account</md-button>
              <p v-else style="color:red">This users warehouse priviledges will be deleted if you save the page.</p>
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-25">
                  <md-field>
                    <label>
                      Assigned Warehouse
                    </label>
                    <md-select v-model="user.warehouseUser.warehouseId">
                      <md-option v-for="warehouse in warehouses" :key="warehouse.id" :value="warehouse.id">
                        {{warehouse.name}}
                      </md-option>
                    </md-select>
                  </md-field>
                </div>

                <div class="md-layout-md md-size-25">
                  <md-field>
                    <label>Warehouse Role</label>
                    <md-select v-model="user.warehouseUser.warehouseRole">
                      <md-option :value="0">
                        Supervisor
                      </md-option>
                      <md-option :value="1">
                        Packaging
                      </md-option>
                      <md-option :value="2">
                        Delivery
                      </md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-25">
                  <md-checkbox v-model="user.warehouseUser.canSeeWarehouseOrders">Can See Warehouse Orders</md-checkbox>

                </div>
                <div class="md-layout-item md-size-25">
                  <md-checkbox v-model="user.warehouseUser.canSeeRestaurantOrders">Can See Restaurant Orders</md-checkbox>
                </div>
                <div class="md-layout-item md-size-50">
                  <img :src="baseUrl+'/cdn/image/500x500'+user.warehouseUser.imageUrl" alt="">
                </div>
                <label for="actual-btn" class="md-layout-item md-size-20 addNewImageButton">
                  <input type="file" id="actual-btn" hidden @change="uploadWarehouseUserImage" multiple />
                  <label>
                    <md-icon>control_point</md-icon>
                    Set Image
                  </label>
                </label>
              </div>
            </div>
            <div v-else>
              <md-button class="md-raised md-success" @click="createWarehouseUser">Create Warehouse User</md-button>
            </div>
          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab id="tab-restaurant" md-label="Restaurant Admin" :to="'/users/'+this.id+'/restaurant'">
        <md-card>
          <md-card-content>
            <div v-if="user.restaurantAdminUser">
              <h2>This user has restaurant admin account.</h2>
              <md-button class="md-raised md-accent" v-if="!user.restaurantAdminUser._delete" @click="user.restaurantAdminUser._delete = true">Remove Restaurant Account</md-button>
              <p v-else style="color:red">This users warehouse priviledges will be deleted if you save the page.</p>
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-25">
                  <md-field>
                    <label>
                      Assigned Restaurant
                    </label>
                    <md-select v-model="user.restaurantAdminUser.restaurantId">
                      <md-option v-for="restaurant in restaurants" :key="restaurant.id" :value="restaurant.id">
                        {{restaurant.name}}
                      </md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100">
                  <flags-editor v-model="user.restaurantAdminUser.permissions" :values="restaurantPermissions"></flags-editor>
                </div>
              </div>
            </div>
            <div v-else>
              <md-button class="md-raised md-success" @click="createRestaurantUser">Create Restaurant User</md-button>
            </div>
          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab id="tab-admin" md-label="Admin" :to="'/users/'+this.id+'/admin'">
        <div v-if="user.adminUser">
          <md-card>
            <md-card-content>

              <h2>This user has admin account.</h2>
              <md-button class="md-raised md-accent" v-if="!user.adminUser._delete" @click="user.adminUser._delete = true">Remove Admin Priviledges</md-button>
              <p v-else style="color:red">This users admin priviledges will be deleted if you save the page.</p>
              <h1>Permissions</h1>
              <flags-editor v-model="user.adminUser.permissions" :values="permissionDescription"></flags-editor>
            </md-card-content>
          </md-card>
        </div>
        <div v-else>
          <md-button class="md-raised md-success" @click="giveAdminPriviledges">Give Admin Priviledges</md-button>
        </div>
      </md-tab>

    </md-tabs>
    <modal :adaptive="true" :reset="true" scrollable height="auto" name="address_modal">
      <md-card v-if="address_edit">
        <md-card-header>
          <h2>Edit Address</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-50">
              <md-field>
                <label>Name</label>
                <md-input v-model="address_edit.addressName"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-50">
              <md-field>
                <label>ZIP</label>
                <md-input v-model="address_edit.zipCode"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <md-field>
                <label>Address</label>
                <md-input v-model="address_edit.addressLine1"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label>Building No</label>
                <md-input v-model="address_edit.buildingNo"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label>Floor</label>
                <md-input v-model="address_edit.floor"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label>Flat</label>
                <md-input v-model="address_edit.flat"></md-input>
              </md-field>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button class="md-raised md-primary">
            OK
          </md-button>
        </md-card-actions>
      </md-card>
    </modal>
    <md-button class="md-success md-raised fading-save" @click="saveUser">Save</md-button>
  </div>
</template>

<script lang="ts">
import API, {
  Address,
  BetterPermissionsDescriptor,
  Restaurant,
  UploadedFile,
  User,
  Warehouse,
} from "@/api";
import FlagEnumEditor from "@/components/flagsEnumEditor.vue";
import { RestaurantPermissionsDescriptor } from "@/restaurant-api";
import Swal from "sweetalert2";

import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {
    flagsEditor: FlagEnumEditor,
  },
})
export default class UserDetail extends Vue {
  @Prop({ default: "0" })
  id!: string;
  baseUrl = API.BaseUrl;
  loading = false;
  user: User | undefined = {
    addresses: [],
    adminUser: undefined,
    warehouseUser: undefined,
    favorites: [],
    marketingEmails: false,
    marketingSMS: false,
    marketingCalls: false,
  };

  address_edit: Address = {};

  permissionDescription = BetterPermissionsDescriptor.getValues();
  restaurantPermissions = RestaurantPermissionsDescriptor.getValues();

  warehouses: Warehouse[] | null | undefined = [];
  restaurants: Restaurant[] | null | undefined = [];

  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;

    this.user = (
      await API.UserApi.adminUserGetUserDetailPost({
        id: parseInt(this.id),
      })
    ).data.data;

    this.warehouses = (
      await API.CatalogApi.adminCatalogGetWarehousesPost()
    ).data.data;

    this.restaurants = (
      await API.CatalogApi.adminCatalogGetRestaurantsPost()
    ).data.data;

    this.loading = false;
  }

  async saveUser(): Promise<void> {
    this.loading = true;
    let res = await API.UserApi.adminUserSaveUserPost(this.user);

    if (res.data.success) {
      this.user = res.data.data;
      Swal.fire("Success", "Saved successfully", "success");
    }
    this.loading = false;
  }

  async changePassword(): Promise<void> {
    if (this.user) {
      let swalRes = await Swal.fire({
        title: "Password Change",
        text: "Entert new password",
        input: "text",
        inputAttributes: {
          autocomplete: "off",
        },
      });
      if (swalRes.isConfirmed) {
        this.user.set_password = swalRes.value;
      }
    }
  }
  editAddress(address: Address): void {
    this.address_edit = address;
    this.$modal.show("address_modal");
  }

  giveAdminPriviledges(): void {
    if (this.user) {
      this.user.adminUser = {
        userId: this.user.id,
        _delete: false,
        permissions: 0,
      };
      this.$forceUpdate();
    }
  }
  createWarehouseUser(): void {
    if (this.user) {
      this.user.warehouseUser = {
        userId: this.user.id,
        _delete: false,
      };
    }
  }

  createRestaurantUser(): void {
    if (this.user) {
      this.user.restaurantAdminUser = {
        userId: this.user.id,
        _delete: false,
      };
    }
  }

  async uploadWarehouseUserImage(event: Event): Promise<void> {
    if (event == null || event.target == null) {
      return;
    }
    let input = event.target as HTMLInputElement;
    if (input == null || input.files == null) {
      return;
    }

    let postdata = new FormData();

    for (const file of input.files) {
      postdata.append("files", file);
    }

    let res = (
      await API.AxiosInstance.post(API.BaseUrl + "/admin/file/Upload", postdata)
    ).data;
    console.log(res);
    if (res.success === true) {
      let files = res.data as UploadedFile[];
      for (const url of files) {
        if (this.user?.warehouseUser) {
          this.user.warehouseUser.imageUrl = url.url;
        }
      }
    }
    this.$forceUpdate();
  }
}
</script>

<style lang="scss">
.fading-save {
  display: block;
  position: fixed;
  right: 3px;
  bottom: 0;
  width: 75px;
  height: 75px;
  opacity: 0.5;
}
button.fading-save:hover {
  opacity: 1;
}
.address {
  p {
    margin: 0px;
    padding: 0px;
  }
}
</style>