<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Users</h2>
          <md-button class="md-success md-raised" to="/users/0/">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <paginated-list ref="list" @load="load" :loading="loading" :data="paginated_users">
            <template v-slot:header>
              <md-table-head md-numeric>ID</md-table-head>
              <md-table-head>Name</md-table-head>
              <md-table-head>Email</md-table-head>
              <md-table-head>Phone</md-table-head>
              <md-table-head>Is Admin</md-table-head>
              <md-table-head>Is Agent</md-table-head>

              <md-table-head>Actions</md-table-head>
            </template>

            <template v-slot:item="{ row }">
              <md-table-cell>{{ row.id }}</md-table-cell>
              <md-table-cell>{{ row.name + ' '+row.surname  }}</md-table-cell>
              <md-table-cell>{{ row.email }}</md-table-cell>
              <md-table-cell>{{ row.phone }}</md-table-cell>
              <md-table-cell>{{ row.isAdmin ?  'Yes':'No' }}</md-table-cell>
              <md-table-cell>{{ row.isWarehouseUser ? 'Yes':'No' }}</md-table-cell>

              <md-table-cell>
                <div v-if="selectMode">
                  <md-button @click="selectModeEmit(row)" class="md-icon-button md-primary">
                    <md-icon>arrow_forward</md-icon>
                  </md-button>
                </div>
                <div v-else>
                  <md-button :to="'/users/' + row.id+'/'" class="md-icon-button md-primary">
                    <md-icon>edit</md-icon>
                  </md-button>

                </div>
              </md-table-cell>
            </template>
          </paginated-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import paginatedListVue from "@/components/paginatedList.vue";
import API, { PaginationRequest, UserPaginationResponse } from "@/api";

@Component({
  components: {
    "paginated-list": paginatedListVue,
  },
})
export default class Users extends Vue {
  @Prop({ default: false })
  selectMode!: boolean;

  loading = false;
  paginated_users: UserPaginationResponse | undefined = { data: [] };

  async load(pagination: PaginationRequest): Promise<void> {
    this.loading = true;
    this.paginated_users = (
      await API.UserApi.adminUserGetUsersPost({
        onlyAdmins: false,
        warehouseId: 0,
        onlyWarehouseUsers: false,
        pagination: pagination,
      })
    ).data.data;
    this.loading = false;
  }
}
</script>

<style lang="sass">
</style>