<template>
  <div class="page-container">
    <md-app md-mode="fixed">
      <md-app-toolbar class="md-primary" md-primary md-elevation="0" style="padding: 0">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">{{ $router.currentRoute.name }}</span>
      </md-app-toolbar>
      {{ $store.state.loadingUser }}
      <md-app-drawer v-if="!$store.state.loadingUser && isLoggedIn" :md-active.sync="menuVisible" md-permanent="full">
        <md-toolbar style="height:64px;justify-content: center;" class="md-transparent" md-elevation="0">
          <img style="height:64px" alt="Vue logo" src="./assets/logo.png" />
        </md-toolbar>

        <md-list>
          <md-list-item v-if="pageMode=='admin'" :to="'/orders'">
            <md-icon>two_wheeler</md-icon>
            <span class="md-list-item-text">Orders</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/products'">
            <md-icon>view_in_ar</md-icon>
            <span class="md-list-item-text">Products</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/categories'">
            <md-icon>list</md-icon>
            <span class="md-list-item-text">Categories</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/users'">
            <md-icon>person</md-icon>
            <span class="md-list-item-text">Users</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/warehouses'">
            <md-icon>inventory_2</md-icon>
            <span class="md-list-item-text">Warehouses</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/blog'">
            <md-icon>feed</md-icon>
            <span class="md-list-item-text">Blog Entries</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='admin'" :to="'/restaurants'">
            <md-icon>restaurant</md-icon>
            <span class="md-list-item-text">Restaurants</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='restaurant'" :to="'/orders'">
            <md-icon>two_wheeler</md-icon>
            <span class="md-list-item-text">Orders</span>
          </md-list-item>
          <md-list-item v-if="pageMode=='restaurant'" :to="'/products'">
            <md-icon>lunch_dining</md-icon>
            <span class="md-list-item-text">Products</span>
          </md-list-item>

          <md-list-item v-if="pageMode=='restaurant'" :to="'/info'">
            <md-icon>settings</md-icon>
            <span class="md-list-item-text">Restaurant Details</span>
          </md-list-item>

          <md-list-item @click="logout">
            <md-icon>logout</md-icon>
            <span class="md-list-item-text">Logout</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <div v-if="$store.state.loadingUser">
          <loading></loading>
        </div>
        <router-view v-else-if="$store.getters.isLoggedIn"></router-view>
        <div v-else>
          <login></login>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>
<script lang="ts">
import { mapGetters } from "vuex";
import { Component, Vue } from "vue-property-decorator";
import API from "./api";
import login from "./views/Auth/Login.vue";
import { getPageMode } from "./pageMode";
import RAPI from "./restaurant-api";
@Component({
  components: {
    login: login,
  },
  computed: mapGetters(["isLoggedIn", "pageMode"]),
})
export default class App extends Vue {
  isLoggedIn!: boolean;
  pageMode!: string;

  menuVisible = true;
  async created(): Promise<void> {
    this.$store.commit("setLoading", true);
    const token = window.localStorage.getItem("buyx:token");
    if (token && token.length > 0) {
      let pageMode = getPageMode();

      if (pageMode == "admin") {
        let response = await API.AuthApi.adminAuthGetUserFromTokenPost({
          token: localStorage.getItem("buyx:token"),
        });
        const res = response.data;

        if (res.success == true) {
          this.$store.commit("setUserToken", res.data);
        } else {
          this.$store.commit("setUserToken", { token: null, user: null });
        }
      } else {
        let response =
          await RAPI.AuthApi.restaurantAdminAuthGetUserFromTokenPost({
            token: localStorage.getItem("buyx:token"),
          });
        const res = response.data;

        if (res.success == true) {
          this.$store.commit("setUserToken", res.data);
        } else {
          this.$store.commit("setUserToken", { token: null, user: null });
        }
      }
    } else {
      this.$store.commit("setUserToken", { token: null, user: null });
    }
  }

  toggleMenu(): void {
    this.menuVisible = !this.menuVisible;
  }
  logout(): void {
    this.$store.dispatch("logout");
  }
}
</script>

<style lang="scss">
.page-container {
  .md-drawer {
    width: 300px;
  }
  .md-app {
    height: 100vh;
  }
  .md-toolbar.md-theme-default.md-transparent {
    background-color: #205cbf;
    color: white;
  }
}
</style>