<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item"></div>
    <md-card class="md-layout-item md-large-size-25 md-small-size-75 md-xsmall-size-size-100">
      <md-card-header>
        <h2>Login</h2>
      </md-card-header>
      <md-card-content>
        <div class="md-layout">
          <md-field>
            <label>Username</label>
            <md-input v-model="phone"></md-input>
          </md-field>
          <md-field>
            <label>Password</label>
            <md-input v-model="password" type="password"></md-input>
          </md-field>
          <md-button @click="login" md-block class="md-primary md-raised d-layout-item md-size-100">
            Login
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <div class="md-layout-item"></div>
  </div>
</template>



<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import API from "@/api";
import RAPI from "@/restaurant-api";

import { getPageMode } from "@/pageMode";

@Component({})
export default class Home extends Vue {
  phone = "";
  password = "";
  loading = false;
  async login(): Promise<void> {
    this.loading = true;
    let pageMode = getPageMode();

    if (pageMode == "admin") {
      const res = await API.AuthApi.adminAuthLoginPost({
        phone: this.phone,
        password: this.password,
      });
      if (res.data.success) {
        this.$store.commit("setUserToken", res.data.data);
      }
    } else if (pageMode == "restaurant") {
      const res = await RAPI.AuthApi.restaurantAdminAuthLoginPost({
        phone: this.phone,
        password: this.password,
      });
      if (res.data.success) {
        this.$store.commit("setUserToken", res.data.data);
      }
    }

    this.loading = false;
  }
}
</script>

<style></style>
