<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Warehouses</h2>
          <md-button class="md-success md-raised" to="/warehouses/0/">Create New</md-button>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-100">
              <md-table>
                <md-table-row>
                  <md-table-head md-numeric>ID</md-table-head>
                  <md-table-head>Name</md-table-head>
                  <md-table-head>Actions</md-table-head>
                </md-table-row>
                <md-table-row :key="warehouse.id" v-for="warehouse in warehouses">
                  <md-table-cell>
                    {{warehouse.id}}
                  </md-table-cell>
                  <md-table-cell>
                    {{warehouse.name}}
                  </md-table-cell>

                  <md-table-cell>
                    <md-button :to="'/warehouses/'+warehouse.id+'/'" class="md-primary md-raised md-icon-button">
                      <md-icon>
                        edit
                      </md-icon>
                    </md-button>
                  </md-table-cell>
                </md-table-row>
              </md-table>
            </div>

          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, { Warehouse } from "@/api";
import { Component, Vue } from "vue-property-decorator";
@Component({})
export default class WarehouseList extends Vue {
  loading = true;
  warehouses: Warehouse[] | null | undefined = [];

  created(): void {
    this.load();
  }
  async load(): Promise<void> {
    this.loading = true;
    this.warehouses = (
      await API.CatalogApi.adminCatalogGetWarehousesPost()
    ).data.data;
    this.loading = false;
  }
}
</script>

<style lang="sass">
</style>