<template>
  <div class="md-layout">
    <loading v-if="loading"></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header>
          <h2>Warehouse Details</h2>
        </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-33">
              <md-field>
                <label for="">Name</label>
                <md-input v-model="warehouse.name"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-33">
              <md-field>
                <label for="">Delivery Price</label>
                <md-input v-model.number="warehouse.deliveryPrice"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <h3>Pickup Address</h3>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Building No</label>
                <md-input v-model.number="warehouse.buildingNo"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Floor</label>
                <md-input v-model.number="warehouse.floor"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Flat</label>
                <md-input v-model.number="warehouse.flat"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Zip Code</label>
                <md-input v-model.number="warehouse.zipCode"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20">
              <md-field>
                <label for="">Directions</label>
                <md-input v-model.number="warehouse.directions"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <md-field>
                <label for="">Address Line 1</label>
                <md-input v-model.number="warehouse.addressLine1"></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-size-100">
                  <h3>Work Zone</h3>
                </div>
                <div class="md-layout-item md-size-100">
                  <GmapMap v-if="!hideMap" style="height:600px" :zoom="11" :center="{lat:53.3233816909796, lng:-1.2352230565633293}" ref="mapRef">
                    <GmapMarker @position_changed="position_changed" v-if="!loading && warehouse.id!=0" :position="{lat:warehouse.latitude, lng:warehouse.longitude}" :clickable="true"
                      :draggable="true" @click="center=m.position" />

                    <GmapPolygon v-for="(other,i) in otherPolygons" :key="i" ref="polygonRef" :paths="other" :editable="false"></GmapPolygon>
                    <GmapPolygon :options="polgonOptions" ref="polygonRef" @paths_changed="paths_changed " :deepWatch="true" v-if="!loading && warehouse.id!=0" :paths="currentPolygon"
                      :editable="true"></GmapPolygon>
                  </GmapMap>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="createBorders" class="md-success md-raised">
            Create basic borders
          </md-button>
          <md-button @click="save" class="md-success md-raised">
            Save
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import API, { FrontendPoint, Warehouse } from "@/api";
import Swal from "sweetalert2";
import { Component, Prop, Vue } from "vue-property-decorator";
import {} from "google.maps";
@Component({
  components: {},
})
export default class WarehouseDetail extends Vue {
  loading = false;
  hideMap = false;
  polgonOptions = {
    strokeColor: "#ff5226",
    fillColor: "#ff5226",
    fillOpacity: 0.1,
  };
  @Prop({ type: String, default: 0, required: true })
  id!: number;
  warehouse: Warehouse | undefined = {
    id: 0,
    latitude: 53.3233816909796,
    longitude: -1.2352230565633293,
  };

  // eslint-disable-next-line no-undef
  currentPolygon: google.maps.LatLngLiteral[] = [];
  // eslint-disable-next-line no-undef
  otherPolygons: google.maps.LatLngLiteral[][] = [];

  calculateCurrentPoly(): void {
    if (this.other_polygons) {
      this.otherPolygons = [];
      for (const poly of this.other_polygons) {
        let array = poly.map(
          (p) =>
            // eslint-disable-next-line no-undef
            ({ lat: p.latitude, lng: p.longitude } as google.maps.LatLngLiteral)
        );
        this.otherPolygons.push(array);
      }
    }

    if (this.polygon != null) {
      this.currentPolygon = this.polygon.map(
        (p) =>
          // eslint-disable-next-line no-undef
          ({ lat: p.latitude, lng: p.longitude } as google.maps.LatLngLiteral)
      );
      return;
    }
    // eslint-disable-next-line no-undef
    this.currentPolygon = [] as google.maps.LatLngLiteral[];
    return;
  }

  polygon: FrontendPoint[] | null | undefined;
  other_polygons: FrontendPoint[][] | null | undefined = [];

  // eslint-disable-next-line no-undef
  position_changed(event: google.maps.LatLng): void {
    if (this.warehouse) {
      this.warehouse.latitude = event.lat();
      this.warehouse.longitude = event.lng();
    }
  }
  paths_changed(): void {
    // eslint-disable-next-line no-undef
    let latLngArray: google.maps.LatLng[] = (
      this.$refs.polygonRef as any
    ).$polygonObject
      .getPath()
      .getArray();

    this.polygon = [];

    for (const latLng of latLngArray) {
      this.polygon.push({ latitude: latLng.lat(), longitude: latLng.lng() });
    }
    this.calculateCurrentPoly();
  }

  created(): void {
    this.load();
  }
  async createBorders(): Promise<void> {
    if (this.warehouse && this.warehouse.latitude && this.warehouse.longitude) {
      this.polygon = [
        {
          latitude: this.warehouse?.latitude - 0.01,
          longitude: this.warehouse?.longitude - 0.01,
        },
        {
          latitude: this.warehouse?.latitude - 0.01,
          longitude: this.warehouse?.longitude + 0.01,
        },
        {
          latitude: this.warehouse?.latitude + 0.01,
          longitude: this.warehouse?.longitude + 0.01,
        },

        {
          latitude: this.warehouse?.latitude + 0.01,
          longitude: this.warehouse?.longitude - 0.01,
        },
      ];
      this.calculateCurrentPoly();
      console.log("set current polygon", this.polygon);
      this.hideMap = true;
      this.$forceUpdate();
      await this.sleep(500);
      this.hideMap = false;
      this.$forceUpdate();
      await this.sleep(100);
      this.afterMapLoad();
    }
  }

  sleep(ms: number): Promise<void> {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }
  async load(): Promise<void> {
    this.loading = true;
    if (this.id != 0) {
      let res = (
        await API.CatalogApi.adminCatalogGetWarehouseDetailsPost(this.id)
      ).data.data;
      this.warehouse = res?.warehouse;
      this.polygon = res?.polygonPoints;
      this.other_polygons = res?.otherWarehouses;
    } else {
      this.warehouse = {
        id: 0,
      };
    }
    this.calculateCurrentPoly();
    this.afterMapLoad();
    this.loading = false;
  }
  afterMapLoad(): void {
    if (this.warehouse?.id != 0) {
      (this.$refs.mapRef as any).$mapPromise.then((map: any) => {
        console.log("panto ", {
          lat: this.warehouse?.latitude,
          lng: this.warehouse?.longitude,
        });
        map.panTo({
          lat: this.warehouse?.latitude,
          lng: this.warehouse?.longitude,
        });
      });
    }
  }
  async save(): Promise<void> {
    this.loading = true;
    let res = (
      await API.CatalogApi.adminCatalogSaveWarehousePost({
        warehouse: this.warehouse,
        setFrontentPoints: this.polygon,
        warehouseLocation: {
          latitude: this.warehouse?.latitude,
          longitude: this.warehouse?.longitude,
        },
      })
    ).data;
    if (res.success == true) {
      Swal.fire("Success", "Saved successfully", "success");
      this.warehouse = res.data;
      if (this.id == 0 && this.warehouse && this.warehouse.id != 0) {
        this.$router.replace("/warehouses/" + this.warehouse.id + "/");
      }
    }
    this.loading = false;
  }
}
</script>

<style lang="sass">
</style>